## Company wants to automate the loan eligibility process (real time) based on customer detail provided while filling online application form. These details are Gender, Marital Status, Education, Number of Dependents, Income, Loan Amount, Credit History and others. To automate this process, they have provided a dataset to identify the customers segments that are eligible for loan amount so that they can specifically target these customers.

## Use Logistic Regression to predict the Loan status

In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
os.chdir(r"C:\Users\kalya\Santhosh\Data Science\Notebook\Preprocessing")

### Import the train and Test files

In [3]:
train = pd.read_csv('Loan_train.csv')

In [4]:
test = pd.read_csv('Loan_test.csv')

In [5]:
submission = pd.read_csv('Loan_sample_submission.csv')

### Preprocessing

In [6]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [7]:
train.describe().T

,count,mean,std,min,25%,50%,75%,max
ApplicantIncome,614.0,5403.459283,6109.041673,150.0,2877.5,3812.5,5795.00,81000.0
CoapplicantIncome,614.0,1621.245798,2926.248369,0.0,0.0,1188.5,2297.25,41667.0
LoanAmount,592.0,146.412162,85.587325,9.0,100.0,128.0,168.00,700.0
Loan_Amount_Term,600.0,342.000000,65.120410,12.0,360.0,360.0,360.00,480.0
Credit_History,564.0,0.842199,0.364878,0.0,1.0,1.0,1.00,1.0

In [8]:
display(train.duplicated().sum(), test.duplicated().sum())

0

0

In [9]:
train[train.Dependents.isna() == True]

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
102,LP001350,Male,Yes,NaN,Graduate,No,13650,0.0,NaN,360.0,1.0,Urban,Y
104,LP001357,Male,NaN,NaN,Graduate,No,3816,754.0,160.0,360.0,1.0,Urban,Y
120,LP001426,Male,Yes,NaN,Graduate,No,5667,2667.0,180.0,360.0,1.0,Rural,Y
226,LP001754,Male,Yes,NaN,Not Graduate,Yes,4735,0.0,138.0,360.0,1.0,Urban,N
228,LP001760,Male,NaN,NaN,Graduate,No,4758,0.0,158.0,480.0,1.0,Semiurban,Y
293,LP001945,Female,No,NaN,Graduate,No,5417,0.0,143.0,480.0,0.0,Urban,N
301,LP001972,Male,Yes,NaN,Not Graduate,No,2875,1750.0,105.0,360.0,1.0,Semiurban,Y
332,LP002100,Male,No,NaN,Graduate,No,2833,0.0,71.0,360.0,1.0,Urban,Y
335,LP002106,Male,Yes,NaN,Graduate,Yes,5503,4490.0,70.0,NaN,1.0,Semiurban,Y
346,LP002130,Male,Yes,NaN,Not Graduate,No,3523,3230.0,152.0,360.0,0.0,Rural,N
355,LP002144,Female,No,NaN,Graduate,No,3813,0.0,116.0,180.0,1.0,Urban,Y
435,LP002393,Female,NaN,NaN,Graduate,No,10047,0.0,NaN,240.0,1.0,Semiurban,Y
517,LP002682,Male,Yes,NaN,Not Graduate,No,3074,1800.0,123.0,360.0,0.0,Semiurban,N
571,LP002847,Male,Yes,NaN,Graduate,No,5116,1451.0,165.0,360.0,0.0,Urban,N
597,LP002943,Male,No,NaN,Graduate,No,2987,0.0,88.0,360.0,0.0,Semiurban,N

In [10]:
train.Property_Area.value_counts()

Semiurban    233
Urban        202
Rural        179
Name: Property_Area, dtype: int64

In [11]:
train.Credit_History.value_counts()

1.0    475
0.0     89
Name: Credit_History, dtype: int64

In [12]:
display(train.isna().sum(), test.isna().sum())

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [13]:
train.shape, test.shape

((614, 13), (367, 12))

In [14]:
train.duplicated().sum()

0

In [15]:
train.select_dtypes(include='object')

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,Urban,Y
4,LP001008,Male,No,0,Graduate,No,Urban,Y
...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,Semiurban,N

In [16]:
[print(i, train[i].unique(),'\n') for i in train.select_dtypes(include='object').columns]

Loan_ID ['LP001002' 'LP001003' 'LP001005' 'LP001006' 'LP001008' 'LP001011'
 'LP001013' 'LP001014' 'LP001018' 'LP001020' 'LP001024' 'LP001027'
 'LP001028' 'LP001029' 'LP001030' 'LP001032' 'LP001034' 'LP001036'
 'LP001038' 'LP001041' 'LP001043' 'LP001046' 'LP001047' 'LP001050'
 'LP001052' 'LP001066' 'LP001068' 'LP001073' 'LP001086' 'LP001087'
 'LP001091' 'LP001095' 'LP001097' 'LP001098' 'LP001100' 'LP001106'
 'LP001109' 'LP001112' 'LP001114' 'LP001116' 'LP001119' 'LP001120'
 'LP001123' 'LP001131' 'LP001136' 'LP001137' 'LP001138' 'LP001144'
 'LP001146' 'LP001151' 'LP001155' 'LP001157' 'LP001164' 'LP001179'
 'LP001186' 'LP001194' 'LP001195' 'LP001197' 'LP001198' 'LP001199'
 'LP001205' 'LP001206' 'LP001207' 'LP001213' 'LP001222' 'LP001225'
 'LP001228' 'LP001233' 'LP001238' 'LP001241' 'LP001243' 'LP001245'
 'LP001248' 'LP001250' 'LP001253' 'LP001255' 'LP001256' 'LP001259'
 'LP001263' 'LP001264' 'LP001265' 'LP001266' 'LP001267' 'LP001273'
 'LP001275' 'LP001279' 'LP001280' 'LP001282' 'LP001289' 'LP001310'
 'LP001316' 'LP001318' 'LP001319' 'LP001322' 'LP001325' 'LP001326'
 'LP001327' 'LP001333' 'LP001334' 'LP001343' 'LP001345' 'LP001349'
 'LP001350' 'LP001356' 'LP001357' 'LP001367' 'LP001369' 'LP001370'
 'LP001379' 'LP001384' 'LP001385' 'LP001387' 'LP001391' 'LP001392'
 'LP001398' 'LP001401' 'LP001404' 'LP001405' 'LP001421' 'LP001422'
 'LP001426' 'LP001430' 'LP001431' 'LP001432' 'LP001439' 'LP001443'
 'LP001448' 'LP001449' 'LP001451' 'LP001465' 'LP001469' 'LP001473'
 'LP001478' 'LP001482' 'LP001487' 'LP001488' 'LP001489' 'LP001491'
 'LP001492' 'LP001493' 'LP001497' 'LP001498' 'LP001504' 'LP001507'
 'LP001508' 'LP001514' 'LP001516' 'LP001518' 'LP001519' 'LP001520'
 'LP001528' 'LP001529' 'LP001531' 'LP001532' 'LP001535' 'LP001536'
 'LP001541' 'LP001543' 'LP001546' 'LP001552' 'LP001560' 'LP001562'
 'LP001565' 'LP001570' 'LP001572' 'LP001574' 'LP001577' 'LP001578'
 'LP001579' 'LP001580' 'LP001581' 'LP001585' 'LP001586' 'LP001594'
 'LP001603' 'LP001606' 'LP001608' 'LP001610' 'LP001616' 'LP001630'
 'LP001633' 'LP001634' 'LP001636' 'LP001637' 'LP001639' 'LP001640'
 'LP001641' 'LP001643' 'LP001644' 'LP001647' 'LP001653' 'LP001656'
 'LP001657' 'LP001658' 'LP001664' 'LP001665' 'LP001666' 'LP001669'
 'LP001671' 'LP001673' 'LP001674' 'LP001677' 'LP001682' 'LP001688'
 'LP001691' 'LP001692' 'LP001693' 'LP001698' 'LP001699' 'LP001702'
 'LP001708' 'LP001711' 'LP001713' 'LP001715' 'LP001716' 'LP001720'
 'LP001722' 'LP001726' 'LP001732' 'LP001734' 'LP001736' 'LP001743'
 'LP001744' 'LP001749' 'LP001750' 'LP001751' 'LP001754' 'LP001758'
 'LP001760' 'LP001761' 'LP001765' 'LP001768' 'LP001770' 'LP001776'
 'LP001778' 'LP001784' 'LP001786' 'LP001788' 'LP001790' 'LP001792'
 'LP001798' 'LP001800' 'LP001806' 'LP001807' 'LP001811' 'LP001813'
 'LP001814' 'LP001819' 'LP001824' 'LP001825' 'LP001835' 'LP001836'
 'LP001841' 'LP001843' 'LP001844' 'LP001846' 'LP001849' 'LP001854'
 'LP001859' 'LP001864' 'LP001865' 'LP001868' 'LP001870' 'LP001871'
 'LP001872' 'LP001875' 'LP001877' 'LP001882' 'LP001883' 'LP001884'
 'LP001888' 'LP001891' 'LP001892' 'LP001894' 'LP001896' 'LP001900'
 'LP001903' 'LP001904' 'LP001907' 'LP001908' 'LP001910' 'LP001914'
 'LP001915' 'LP001917' 'LP001922' 'LP001924' 'LP001925' 'LP001926'
 'LP001931' 'LP001935' 'LP001936' 'LP001938' 'LP001940' 'LP001945'
 'LP001947' 'LP001949' 'LP001953' 'LP001954' 'LP001955' 'LP001963'
 'LP001964' 'LP001972' 'LP001974' 'LP001977' 'LP001978' 'LP001990'
 'LP001993' 'LP001994' 'LP001996' 'LP001998' 'LP002002' 'LP002004'
 'LP002006' 'LP002008' 'LP002024' 'LP002031' 'LP002035' 'LP002036'
 'LP002043' 'LP002050' 'LP002051' 'LP002053' 'LP002054' 'LP002055'
 'LP002065' 'LP002067' 'LP002068' 'LP002082' 'LP002086' 'LP002087'
 'LP002097' 'LP002098' 'LP002100' 'LP002101' 'LP002103' 'LP002106'
 'LP002110' 'LP002112' 'LP002113' 'LP002114' 'LP002115' 'LP002116'
 'LP002119' 'LP002126' 'LP002128' 'LP002129' 'LP002130' 'LP002131'
 'LP002137' 'LP002138' 'LP002139' 'LP002140' 'LP002141' 'LP002142'
 'LP002143' 'LP002144' 'LP002149' 'LP002151' 'LP002158' 'LP002160'
 'LP002161' 'LP002170' 'LP002175' 'LP002178' 'LP002180' 'LP002181'
 'LP002187' 'LP002188' 'LP002190' 'LP002191' 'LP002194' 'LP002197'
 'LP002201' 'LP002205' 'LP002209' 'LP002211' 'LP002219' 'LP002223'
 'LP002224' 'LP002225' 'LP002226' 'LP002229' 'LP002231' 'LP002234'
 'LP002236' 'LP002237' 'LP002239' 'LP002243' 'LP002244' 'LP002250'
 'LP002255' 'LP002262' 'LP002263' 'LP002265' 'LP002266' 'LP002272'
 'LP002277' 'LP002281' 'LP002284' 'LP002287' 'LP002288' 'LP002296'
 'LP002297' 'LP002300' 'LP002301' 'LP002305' 'LP002308' 'LP002314'
 'LP002315' 'LP002317' 'LP002318' 'LP002319' 'LP002328' 'LP002332'
 'LP002335' 'LP002337' 'LP002341' 'LP002342' 'LP002345' 'LP002347'
 'LP002348' 'LP002357' 'LP002361' 'LP002362' 'LP002364' 'LP002366'
 'LP002367' 'LP002368' 'LP002369' 'LP002370' 'LP002377' 'LP002379'
 'LP002386' 'LP002387' 'LP002390' 'LP002393' 'LP002398' 'LP002401'
 'LP002403' 'LP002407' 'LP002408' 'LP002409' 'LP002418' 'LP002422'
 'LP002424' 'LP002429' 'LP002434' 'LP002435' 'LP002443' 'LP002444'
 'LP002446' 'LP002447' 'LP002448' 'LP002449' 'LP002453' 'LP002455'
 'LP002459' 'LP002467' 'LP002472' 'LP002473' 'LP002478' 'LP002484'
 'LP002487' 'LP002489' 'LP002493' 'LP002494' 'LP002500' 'LP002501'
 'LP002502' 'LP002505' 'LP002515' 'LP002517' 'LP002519' 'LP002522'
 'LP002524' 'LP002527' 'LP002529' 'LP002530' 'LP002531' 'LP002533'
 'LP002534' 'LP002536' 'LP002537' 'LP002541' 'LP002543' 'LP002544'
 'LP002545' 'LP002547' 'LP002555' 'LP002556' 'LP002560' 'LP002562'
 'LP002571' 'LP002582' 'LP002585' 'LP002586' 'LP002587' 'LP002588'
 'LP002600' 'LP002602' 'LP002603' 'LP002606' 'LP002615' 'LP002618'
 'LP002619' 'LP002622' 'LP002624' 'LP002625' 'LP002626' 'LP002634'
 'LP002637' 'LP002640' 'LP002643' 'LP002648' 'LP002652' 'LP002659'
 'LP002670' 'LP002682' 'LP002683' 'LP002684' 'LP002689' 'LP002690'
 'LP002692' 'LP002693' 'LP002697' 'LP002699' 'LP002705' 'LP002706'
 'LP002714' 'LP002716' 'LP002717' 'LP002720' 'LP002723' 'LP002729'
 'LP002731' 'LP002732' 'LP002734' 'LP002738' 'LP002739' 'LP002740'
 'LP002741' 'LP002743' 'LP002753' 'LP002755' 'LP002757' 'LP002767'
 'LP002768' 'LP002772' 'LP002776' 'LP002777' 'LP002778' 'LP002784'
 'LP002785' 'LP002788' 'LP002789' 'LP002792' 'LP002794' 'LP002795'
 'LP002798' 'LP002804' 'LP002807' 'LP002813' 'LP002820' 'LP002821'
 'LP002832' 'LP002833' 'LP002836' 'LP002837' 'LP002840' 'LP002841'
 'LP002842' 'LP002847' 'LP002855' 'LP002862' 'LP002863' 'LP002868'
 'LP002872' 'LP002874' 'LP002877' 'LP002888' 'LP002892' 'LP002893'
 'LP002894' 'LP002898' 'LP002911' 'LP002912' 'LP002916' 'LP002917'
 'LP002925' 'LP002926' 'LP002928' 'LP002931' 'LP002933' 'LP002936'
 'LP002938' 'LP002940' 'LP002941' 'LP002943' 'LP002945' 'LP002948'
 'LP002949' 'LP002950' 'LP002953' 'LP002958' 'LP002959' 'LP002960'
 'LP002961' 'LP002964' 'LP002974' 'LP002978' 'LP002979' 'LP002983'
 'LP002984' 'LP002990']

Gender ['Male' 'Female' nan]

Married ['No' 'Yes' nan]

Dependents ['0' '1' '2' '3+' nan]

Education ['Graduate' 'Not Graduate']

Self_Employed ['No' 'Yes' nan]

Property_Area ['Urban' 'Rural' 'Semiurban']

Loan_Status ['Y' 'N']

[None, None, None, None, None, None, None, None]

### Concatenating the train and teset data

In [17]:
data = pd.concat([train,test])

In [18]:
data.reset_index(inplace=True, drop=True)

In [19]:
train.shape, test.shape, data.shape

((614, 13), (367, 12), (981, 13))

In [20]:
train.shape[0]+test.shape[0]

981

### Manipulating the data as part of the preprocessing

In [21]:
data['Gender'] = data.Gender.fillna('Unknown')

In [22]:
 data['Married'] = data.Married.fillna('Unknown')

In [23]:
data.Married.isnull().sum()

0

In [24]:
data['Dependents'] = data.Dependents.fillna('na')

In [25]:
data['Self_Employed'] = data.Self_Employed.fillna('Unknown')

In [26]:
data['LoanAmount'] = data.LoanAmount.fillna(0.0)

In [27]:
data['Credit_History'] = data.Credit_History.fillna(0.0)

In [28]:
data.Credit_History.value_counts()

1.0    754
0.0    227
Name: Credit_History, dtype: int64

In [29]:
data.isnull().sum()

Loan_ID                0
Gender                 0
Married                0
Dependents             0
Education              0
Self_Employed          0
ApplicantIncome        0
CoapplicantIncome      0
LoanAmount             0
Loan_Amount_Term      20
Credit_History         0
Property_Area          0
Loan_Status          367
dtype: int64

In [30]:
train.shape, test.shape, data.shape, train.shape[0]+test.shape[0]

((614, 13), (367, 12), (981, 13), 981)

In [31]:
data['Loan_Amount_Term'] = data.Loan_Amount_Term.fillna(0.0)

In [32]:
data.isnull().sum()

Loan_ID                0
Gender                 0
Married                0
Dependents             0
Education              0
Self_Employed          0
ApplicantIncome        0
CoapplicantIncome      0
LoanAmount             0
Loan_Amount_Term       0
Credit_History         0
Property_Area          0
Loan_Status          367
dtype: int64

In [33]:
[print(i, data[i].unique(),'\n') for i in data.select_dtypes(include='object').columns]

Loan_ID ['LP001002' 'LP001003' 'LP001005' 'LP001006' 'LP001008' 'LP001011'
 'LP001013' 'LP001014' 'LP001018' 'LP001020' 'LP001024' 'LP001027'
 'LP001028' 'LP001029' 'LP001030' 'LP001032' 'LP001034' 'LP001036'
 'LP001038' 'LP001041' 'LP001043' 'LP001046' 'LP001047' 'LP001050'
 'LP001052' 'LP001066' 'LP001068' 'LP001073' 'LP001086' 'LP001087'
 'LP001091' 'LP001095' 'LP001097' 'LP001098' 'LP001100' 'LP001106'
 'LP001109' 'LP001112' 'LP001114' 'LP001116' 'LP001119' 'LP001120'
 'LP001123' 'LP001131' 'LP001136' 'LP001137' 'LP001138' 'LP001144'
 'LP001146' 'LP001151' 'LP001155' 'LP001157' 'LP001164' 'LP001179'
 'LP001186' 'LP001194' 'LP001195' 'LP001197' 'LP001198' 'LP001199'
 'LP001205' 'LP001206' 'LP001207' 'LP001213' 'LP001222' 'LP001225'
 'LP001228' 'LP001233' 'LP001238' 'LP001241' 'LP001243' 'LP001245'
 'LP001248' 'LP001250' 'LP001253' 'LP001255' 'LP001256' 'LP001259'
 'LP001263' 'LP001264' 'LP001265' 'LP001266' 'LP001267' 'LP001273'
 'LP001275' 'LP001279' 'LP001280' 'LP001282' 'LP001289' 'LP001310'
 'LP001316' 'LP001318' 'LP001319' 'LP001322' 'LP001325' 'LP001326'
 'LP001327' 'LP001333' 'LP001334' 'LP001343' 'LP001345' 'LP001349'
 'LP001350' 'LP001356' 'LP001357' 'LP001367' 'LP001369' 'LP001370'
 'LP001379' 'LP001384' 'LP001385' 'LP001387' 'LP001391' 'LP001392'
 'LP001398' 'LP001401' 'LP001404' 'LP001405' 'LP001421' 'LP001422'
 'LP001426' 'LP001430' 'LP001431' 'LP001432' 'LP001439' 'LP001443'
 'LP001448' 'LP001449' 'LP001451' 'LP001465' 'LP001469' 'LP001473'
 'LP001478' 'LP001482' 'LP001487' 'LP001488' 'LP001489' 'LP001491'
 'LP001492' 'LP001493' 'LP001497' 'LP001498' 'LP001504' 'LP001507'
 'LP001508' 'LP001514' 'LP001516' 'LP001518' 'LP001519' 'LP001520'
 'LP001528' 'LP001529' 'LP001531' 'LP001532' 'LP001535' 'LP001536'
 'LP001541' 'LP001543' 'LP001546' 'LP001552' 'LP001560' 'LP001562'
 'LP001565' 'LP001570' 'LP001572' 'LP001574' 'LP001577' 'LP001578'
 'LP001579' 'LP001580' 'LP001581' 'LP001585' 'LP001586' 'LP001594'
 'LP001603' 'LP001606' 'LP001608' 'LP001610' 'LP001616' 'LP001630'
 'LP001633' 'LP001634' 'LP001636' 'LP001637' 'LP001639' 'LP001640'
 'LP001641' 'LP001643' 'LP001644' 'LP001647' 'LP001653' 'LP001656'
 'LP001657' 'LP001658' 'LP001664' 'LP001665' 'LP001666' 'LP001669'
 'LP001671' 'LP001673' 'LP001674' 'LP001677' 'LP001682' 'LP001688'
 'LP001691' 'LP001692' 'LP001693' 'LP001698' 'LP001699' 'LP001702'
 'LP001708' 'LP001711' 'LP001713' 'LP001715' 'LP001716' 'LP001720'
 'LP001722' 'LP001726' 'LP001732' 'LP001734' 'LP001736' 'LP001743'
 'LP001744' 'LP001749' 'LP001750' 'LP001751' 'LP001754' 'LP001758'
 'LP001760' 'LP001761' 'LP001765' 'LP001768' 'LP001770' 'LP001776'
 'LP001778' 'LP001784' 'LP001786' 'LP001788' 'LP001790' 'LP001792'
 'LP001798' 'LP001800' 'LP001806' 'LP001807' 'LP001811' 'LP001813'
 'LP001814' 'LP001819' 'LP001824' 'LP001825' 'LP001835' 'LP001836'
 'LP001841' 'LP001843' 'LP001844' 'LP001846' 'LP001849' 'LP001854'
 'LP001859' 'LP001864' 'LP001865' 'LP001868' 'LP001870' 'LP001871'
 'LP001872' 'LP001875' 'LP001877' 'LP001882' 'LP001883' 'LP001884'
 'LP001888' 'LP001891' 'LP001892' 'LP001894' 'LP001896' 'LP001900'
 'LP001903' 'LP001904' 'LP001907' 'LP001908' 'LP001910' 'LP001914'
 'LP001915' 'LP001917' 'LP001922' 'LP001924' 'LP001925' 'LP001926'
 'LP001931' 'LP001935' 'LP001936' 'LP001938' 'LP001940' 'LP001945'
 'LP001947' 'LP001949' 'LP001953' 'LP001954' 'LP001955' 'LP001963'
 'LP001964' 'LP001972' 'LP001974' 'LP001977' 'LP001978' 'LP001990'
 'LP001993' 'LP001994' 'LP001996' 'LP001998' 'LP002002' 'LP002004'
 'LP002006' 'LP002008' 'LP002024' 'LP002031' 'LP002035' 'LP002036'
 'LP002043' 'LP002050' 'LP002051' 'LP002053' 'LP002054' 'LP002055'
 'LP002065' 'LP002067' 'LP002068' 'LP002082' 'LP002086' 'LP002087'
 'LP002097' 'LP002098' 'LP002100' 'LP002101' 'LP002103' 'LP002106'
 'LP002110' 'LP002112' 'LP002113' 'LP002114' 'LP002115' 'LP002116'
 'LP002119' 'LP002126' 'LP002128' 'LP002129' 'LP002130' 'LP002131'
 'LP002137' 'LP002138' 'LP002139' 'LP002140' 'LP002141' 'LP002142'
 'LP002143' 'LP002144' 'LP002149' 'LP002151' 'LP002158' 'LP002160'
 'LP002161' 'LP002170' 'LP002175' 'LP002178' 'LP002180' 'LP002181'
 'LP002187' 'LP002188' 'LP002190' 'LP002191' 'LP002194' 'LP002197'
 'LP002201' 'LP002205' 'LP002209' 'LP002211' 'LP002219' 'LP002223'
 'LP002224' 'LP002225' 'LP002226' 'LP002229' 'LP002231' 'LP002234'
 'LP002236' 'LP002237' 'LP002239' 'LP002243' 'LP002244' 'LP002250'
 'LP002255' 'LP002262' 'LP002263' 'LP002265' 'LP002266' 'LP002272'
 'LP002277' 'LP002281' 'LP002284' 'LP002287' 'LP002288' 'LP002296'
 'LP002297' 'LP002300' 'LP002301' 'LP002305' 'LP002308' 'LP002314'
 'LP002315' 'LP002317' 'LP002318' 'LP002319' 'LP002328' 'LP002332'
 'LP002335' 'LP002337' 'LP002341' 'LP002342' 'LP002345' 'LP002347'
 'LP002348' 'LP002357' 'LP002361' 'LP002362' 'LP002364' 'LP002366'
 'LP002367' 'LP002368' 'LP002369' 'LP002370' 'LP002377' 'LP002379'
 'LP002386' 'LP002387' 'LP002390' 'LP002393' 'LP002398' 'LP002401'
 'LP002403' 'LP002407' 'LP002408' 'LP002409' 'LP002418' 'LP002422'
 'LP002424' 'LP002429' 'LP002434' 'LP002435' 'LP002443' 'LP002444'
 'LP002446' 'LP002447' 'LP002448' 'LP002449' 'LP002453' 'LP002455'
 'LP002459' 'LP002467' 'LP002472' 'LP002473' 'LP002478' 'LP002484'
 'LP002487' 'LP002489' 'LP002493' 'LP002494' 'LP002500' 'LP002501'
 'LP002502' 'LP002505' 'LP002515' 'LP002517' 'LP002519' 'LP002522'
 'LP002524' 'LP002527' 'LP002529' 'LP002530' 'LP002531' 'LP002533'
 'LP002534' 'LP002536' 'LP002537' 'LP002541' 'LP002543' 'LP002544'
 'LP002545' 'LP002547' 'LP002555' 'LP002556' 'LP002560' 'LP002562'
 'LP002571' 'LP002582' 'LP002585' 'LP002586' 'LP002587' 'LP002588'
 'LP002600' 'LP002602' 'LP002603' 'LP002606' 'LP002615' 'LP002618'
 'LP002619' 'LP002622' 'LP002624' 'LP002625' 'LP002626' 'LP002634'
 'LP002637' 'LP002640' 'LP002643' 'LP002648' 'LP002652' 'LP002659'
 'LP002670' 'LP002682' 'LP002683' 'LP002684' 'LP002689' 'LP002690'
 'LP002692' 'LP002693' 'LP002697' 'LP002699' 'LP002705' 'LP002706'
 'LP002714' 'LP002716' 'LP002717' 'LP002720' 'LP002723' 'LP002729'
 'LP002731' 'LP002732' 'LP002734' 'LP002738' 'LP002739' 'LP002740'
 'LP002741' 'LP002743' 'LP002753' 'LP002755' 'LP002757' 'LP002767'
 'LP002768' 'LP002772' 'LP002776' 'LP002777' 'LP002778' 'LP002784'
 'LP002785' 'LP002788' 'LP002789' 'LP002792' 'LP002794' 'LP002795'
 'LP002798' 'LP002804' 'LP002807' 'LP002813' 'LP002820' 'LP002821'
 'LP002832' 'LP002833' 'LP002836' 'LP002837' 'LP002840' 'LP002841'
 'LP002842' 'LP002847' 'LP002855' 'LP002862' 'LP002863' 'LP002868'
 'LP002872' 'LP002874' 'LP002877' 'LP002888' 'LP002892' 'LP002893'
 'LP002894' 'LP002898' 'LP002911' 'LP002912' 'LP002916' 'LP002917'
 'LP002925' 'LP002926' 'LP002928' 'LP002931' 'LP002933' 'LP002936'
 'LP002938' 'LP002940' 'LP002941' 'LP002943' 'LP002945' 'LP002948'
 'LP002949' 'LP002950' 'LP002953' 'LP002958' 'LP002959' 'LP002960'
 'LP002961' 'LP002964' 'LP002974' 'LP002978' 'LP002979' 'LP002983'
 'LP002984' 'LP002990' 'LP001015' 'LP001022' 'LP001031' 'LP001035'
 'LP001051' 'LP001054' 'LP001055' 'LP001056' 'LP001059' 'LP001067'
 'LP001078' 'LP001082' 'LP001083' 'LP001094' 'LP001096' 'LP001099'
 'LP001105' 'LP001107' 'LP001108' 'LP001115' 'LP001121' 'LP001124'
 'LP001128' 'LP001135' 'LP001149' 'LP001153' 'LP001163' 'LP001169'
 'LP001174' 'LP001176' 'LP001177' 'LP001183' 'LP001185' 'LP001187'
 'LP001190' 'LP001203' 'LP001208' 'LP001210' 'LP001211' 'LP001219'
 'LP001220' 'LP001221' 'LP001226' 'LP001230' 'LP001231' 'LP001232'
 'LP001237' 'LP001242' 'LP001268' 'LP001270' 'LP001284' 'LP001287'
 'LP001291' 'LP001298' 'LP001312' 'LP001313' 'LP001317' 'LP001321'
 'LP001323' 'LP001324' 'LP001332' 'LP001335' 'LP001338' 'LP001347'
 'LP001348' 'LP001351' 'LP001352' 'LP001358' 'LP001359' 'LP001361'
 'LP001366' 'LP001368' 'LP001375' 'LP001380' 'LP001386' 'LP001400'
 'LP001407' 'LP001413' 'LP001415' 'LP001419' 'LP001420' 'LP001428'
 'LP001445' 'LP001446' 'LP001450' 'LP001452' 'LP001455' 'LP001466'
 'LP001471' 'LP001472' 'LP001475' 'LP001483' 'LP001486' 'LP001490'
 'LP001496' 'LP001499' 'LP001500' 'LP001501' 'LP001517' 'LP001527'
 'LP001534' 'LP001542' 'LP001547' 'LP001548' 'LP001558' 'LP001561'
 'LP001563' 'LP001567' 'LP001568' 'LP001573' 'LP001584' 'LP001587'
 'LP001589' 'LP001591' 'LP001599' 'LP001601' 'LP001607' 'LP001611'
 'LP001613' 'LP001622' 'LP001627' 'LP001650' 'LP001651' 'LP001652'
 'LP001655' 'LP001660' 'LP001662' 'LP001663' 'LP001667' 'LP001695'
 'LP001703' 'LP001718' 'LP001728' 'LP001735' 'LP001737' 'LP001739'
 'LP001742' 'LP001757' 'LP001769' 'LP001771' 'LP001785' 'LP001787'
 'LP001789' 'LP001791' 'LP001794' 'LP001797' 'LP001815' 'LP001817'
 'LP001818' 'LP001822' 'LP001827' 'LP001831' 'LP001842' 'LP001853'
 'LP001855' 'LP001857' 'LP001862' 'LP001867' 'LP001878' 'LP001881'
 'LP001886' 'LP001906' 'LP001909' 'LP001911' 'LP001921' 'LP001923'
 'LP001933' 'LP001943' 'LP001950' 'LP001959' 'LP001961' 'LP001973'
 'LP001975' 'LP001979' 'LP001995' 'LP001999' 'LP002007' 'LP002009'
 'LP002016' 'LP002017' 'LP002018' 'LP002027' 'LP002028' 'LP002042'
 'LP002045' 'LP002046' 'LP002047' 'LP002056' 'LP002057' 'LP002059'
 'LP002062' 'LP002064' 'LP002069' 'LP002070' 'LP002077' 'LP002083'
 'LP002090' 'LP002096' 'LP002099' 'LP002102' 'LP002105' 'LP002107'
 'LP002111' 'LP002117' 'LP002118' 'LP002123' 'LP002125' 'LP002148'
 'LP002152' 'LP002165' 'LP002167' 'LP002168' 'LP002172' 'LP002176'
 'LP002183' 'LP002184' 'LP002186' 'LP002192' 'LP002195' 'LP002208'
 'LP002212' 'LP002240' 'LP002245' 'LP002253' 'LP002256' 'LP002257'
 'LP002264' 'LP002270' 'LP002279' 'LP002286' 'LP002294' 'LP002298'
 'LP002306' 'LP002310' 'LP002311' 'LP002316' 'LP002321' 'LP002325'
 'LP002326' 'LP002329' 'LP002333' 'LP002339' 'LP002344' 'LP002346'
 'LP002354' 'LP002355' 'LP002358' 'LP002360' 'LP002375' 'LP002376'
 'LP002383' 'LP002385' 'LP002389' 'LP002394' 'LP002397' 'LP002399'
 'LP002400' 'LP002402' 'LP002412' 'LP002415' 'LP002417' 'LP002420'
 'LP002425' 'LP002433' 'LP002440' 'LP002441' 'LP002442' 'LP002445'
 'LP002450' 'LP002471' 'LP002476' 'LP002482' 'LP002485' 'LP002495'
 'LP002496' 'LP002523' 'LP002542' 'LP002550' 'LP002551' 'LP002553'
 'LP002554' 'LP002561' 'LP002566' 'LP002568' 'LP002570' 'LP002572'
 'LP002581' 'LP002584' 'LP002592' 'LP002593' 'LP002599' 'LP002604'
 'LP002605' 'LP002609' 'LP002610' 'LP002612' 'LP002614' 'LP002630'
 'LP002635' 'LP002639' 'LP002644' 'LP002651' 'LP002654' 'LP002657'
 'LP002711' 'LP002712' 'LP002721' 'LP002735' 'LP002744' 'LP002745'
 'LP002746' 'LP002747' 'LP002754' 'LP002759' 'LP002760' 'LP002766'
 'LP002769' 'LP002774' 'LP002775' 'LP002781' 'LP002782' 'LP002786'
 'LP002790' 'LP002791' 'LP002793' 'LP002802' 'LP002803' 'LP002805'
 'LP002806' 'LP002816' 'LP002823' 'LP002825' 'LP002826' 'LP002843'
 'LP002849' 'LP002850' 'LP002853' 'LP002856' 'LP002857' 'LP002858'
 'LP002860' 'LP002867' 'LP002869' 'LP002870' 'LP002876' 'LP002878'
 'LP002879' 'LP002885' 'LP002890' 'LP002891' 'LP002899' 'LP002901'
 'LP002907' 'LP002920' 'LP002921' 'LP002932' 'LP002935' 'LP002952'
 'LP002954' 'LP002962' 'LP002965' 'LP002969' 'LP002971' 'LP002975'
 'LP002980' 'LP002986' 'LP002989']

Gender ['Male' 'Female' 'Unknown']

Married ['No' 'Yes' 'Unknown']

Dependents ['0' '1' '2' '3+' 'na']

Education ['Graduate' 'Not Graduate']

Self_Employed ['No' 'Yes' 'Unknown']

Property_Area ['Urban' 'Rural' 'Semiurban']

Loan_Status ['Y' 'N' nan]

[None, None, None, None, None, None, None, None]

In [34]:
data.select_dtypes(include='object')

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,Urban,Y
4,LP001008,Male,No,0,Graduate,No,Urban,Y
...,...,...,...,...,...,...,...,...
976,LP002971,Male,Yes,3+,Not Graduate,Yes,Urban,NaN
977,LP002975,Male,Yes,0,Graduate,No,Urban,NaN
978,LP002980,Male,No,0,Graduate,No,Semiurban,NaN
979,LP002986,Male,Yes,0,Graduate,No,Rural,NaN
980,LP002989,Male,No,0,Graduate,Yes,Rural,NaN

In [35]:
data.reset_index(inplace=True, drop=True)

### Converting the object data into numerical data format using One-hot encoding

In [36]:
encoded_data = pd.get_dummies(data, columns = ['Gender','Married', 'Dependents','Education','Self_Employed','Property_Area'])

In [37]:
encoded_data.shape

(981, 26)

In [38]:
encoded_data.columns

Index(['Loan_ID', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Loan_Status', 'Gender_Female',
       'Gender_Male', 'Gender_Unknown', 'Married_No', 'Married_Unknown',
       'Married_Yes', 'Dependents_0', 'Dependents_1', 'Dependents_2',
       'Dependents_3+', 'Dependents_na', 'Education_Graduate',
       'Education_Not Graduate', 'Self_Employed_No', 'Self_Employed_Unknown',
       'Self_Employed_Yes', 'Property_Area_Rural', 'Property_Area_Semiurban',
       'Property_Area_Urban'],
      dtype='object')

In [39]:
data.select_dtypes(exclude='object')

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,5849,0.0,0.0,360.0,1.0
1,4583,1508.0,128.0,360.0,1.0
2,3000,0.0,66.0,360.0,1.0
3,2583,2358.0,120.0,360.0,1.0
4,6000,0.0,141.0,360.0,1.0
...,...,...,...,...,...
976,4009,1777.0,113.0,360.0,1.0
977,4158,709.0,115.0,360.0,1.0
978,3250,1993.0,126.0,360.0,0.0
979,5000,2393.0,158.0,360.0,1.0
980,9200,0.0,98.0,180.0,1.0

In [40]:
from sklearn.preprocessing import StandardScaler

In [41]:
data.select_dtypes(exclude='object').columns

Index(['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History'],
      dtype='object')

### Performing scaling on the existing numerical data to avoid high deviation on the values

In [42]:
sc = StandardScaler()
scaled_data = sc.fit_transform(encoded_data[['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount','Loan_Amount_Term','Credit_History']])
scaled_data = pd.DataFrame(scaled_data, columns=['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount','Loan_Amount_Term','Credit_History'])
print(scaled_data.shape)

(981, 5)

In [43]:
scaled_data.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,0.117565,-0.589506,-1.736899,0.307622,0.54869
1,-0.104844,-0.034561,-0.132711,0.307622,0.54869
2,-0.382944,-0.589506,-0.909740,0.307622,0.54869
3,-0.456202,0.278239,-0.232973,0.307622,0.54869
4,0.144093,-0.589506,0.030214,0.307622,0.54869

### End of the proprocessing.
### Construction(preprocessing) of the data completed for the model. 
### Finally concatenating the required and coverted columns into final dataset

In [44]:
preprocessed_data = pd.concat([scaled_data, encoded_data.drop(columns=['ApplicantIncome', 'CoapplicantIncome','LoanAmount','Loan_Amount_Term', 'Credit_History'])],axis=1)
preprocessed_data.head(5)

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_ID,Loan_Status,Gender_Female,Gender_Male,Gender_Unknown,...,Dependents_3+,Dependents_na,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Unknown,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0.117565,-0.589506,-1.736899,0.307622,0.54869,LP001002,Y,0,1,0,...,0,0,1,0,1,0,0,0,0,1
1,-0.104844,-0.034561,-0.132711,0.307622,0.54869,LP001003,N,0,1,0,...,0,0,1,0,1,0,0,1,0,0
2,-0.382944,-0.589506,-0.909740,0.307622,0.54869,LP001005,Y,0,1,0,...,0,0,1,0,0,0,1,0,0,1
3,-0.456202,0.278239,-0.232973,0.307622,0.54869,LP001006,Y,0,1,0,...,0,0,0,1,1,0,0,0,0,1
4,0.144093,-0.589506,0.030214,0.307622,0.54869,LP001008,Y,0,1,0,...,0,0,1,0,1,0,0,0,0,1

In [45]:
preprocessed_data.shape

(981, 26)

In [46]:
preprocessed_data.isna().sum()

ApplicantIncome              0
CoapplicantIncome            0
LoanAmount                   0
Loan_Amount_Term             0
Credit_History               0
Loan_ID                      0
Loan_Status                367
Gender_Female                0
Gender_Male                  0
Gender_Unknown               0
Married_No                   0
Married_Unknown              0
Married_Yes                  0
Dependents_0                 0
Dependents_1                 0
Dependents_2                 0
Dependents_3+                0
Dependents_na                0
Education_Graduate           0
Education_Not Graduate       0
Self_Employed_No             0
Self_Employed_Unknown        0
Self_Employed_Yes            0
Property_Area_Rural          0
Property_Area_Semiurban      0
Property_Area_Urban          0
dtype: int64

### Splitting the data into train and test as we get in the original format

In [47]:
preprc_train = preprocessed_data[preprocessed_data['Loan_Status'].notna()]
preprc_test = preprocessed_data[preprocessed_data['Loan_Status'].isna()]

In [48]:
display(preprc_train.head(), preprc_train.tail())

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_ID,Loan_Status,Gender_Female,Gender_Male,Gender_Unknown,...,Dependents_3+,Dependents_na,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Unknown,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0.117565,-0.589506,-1.736899,0.307622,0.54869,LP001002,Y,0,1,0,...,0,0,1,0,1,0,0,0,0,1
1,-0.104844,-0.034561,-0.132711,0.307622,0.54869,LP001003,N,0,1,0,...,0,0,1,0,1,0,0,1,0,0
2,-0.382944,-0.589506,-0.909740,0.307622,0.54869,LP001005,Y,0,1,0,...,0,0,1,0,0,0,1,0,0,1
3,-0.456202,0.278239,-0.232973,0.307622,0.54869,LP001006,Y,0,1,0,...,0,0,0,1,1,0,0,0,0,1
4,0.144093,-0.589506,0.030214,0.307622,0.54869,LP001008,Y,0,1,0,...,0,0,1,0,1,0,0,0,0,1

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_ID,Loan_Status,Gender_Female,Gender_Male,Gender_Unknown,...,Dependents_3+,Dependents_na,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Unknown,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
609,-0.400512,-0.589506,-0.847076,0.307622,0.548690,LP002978,Y,1,0,0,...,0,0,1,0,1,0,0,1,0,0
610,-0.188643,-0.589506,-1.235590,-1.927395,0.548690,LP002979,Y,0,1,0,...,1,0,1,0,1,0,0,1,0,0
611,0.508100,-0.501186,1.433878,0.307622,0.548690,LP002983,Y,0,1,0,...,0,0,1,0,1,0,0,0,0,1
612,0.422193,-0.589506,0.606719,0.307622,0.548690,LP002984,Y,0,1,0,...,0,0,1,0,1,0,0,0,0,1
613,-0.104844,-0.589506,-0.070048,0.307622,-1.822522,LP002990,N,1,0,0,...,0,0,1,0,0,0,1,0,1,0

In [49]:
display(preprc_test.head(), preprc_test.tail())

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_ID,Loan_Status,Gender_Female,Gender_Male,Gender_Unknown,...,Dependents_3+,Dependents_na,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Unknown,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
614,0.094903,-0.589506,-0.358300,0.307622,0.548690,LP001015,NaN,0,1,0,...,0,0,1,0,1,0,0,0,0,1
615,-0.369593,-0.037505,-0.157777,0.307622,0.548690,LP001022,NaN,0,1,0,...,0,0,1,0,1,0,0,0,0,1
616,-0.031586,0.072895,0.869906,0.307622,0.548690,LP001031,NaN,0,1,0,...,0,0,1,0,1,0,0,0,0,1
617,-0.498892,0.347423,-0.483627,0.307622,-1.822522,LP001035,NaN,0,1,0,...,0,0,1,0,1,0,0,0,0,1
618,-0.334457,-0.589506,-0.759347,0.307622,0.548690,LP001051,NaN,0,1,0,...,0,0,0,1,1,0,0,0,0,1

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_ID,Loan_Status,Gender_Female,Gender_Male,Gender_Unknown,...,Dependents_3+,Dependents_na,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Unknown,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
976,-0.205684,0.064431,-0.320702,0.307622,0.548690,LP002971,NaN,0,1,0,...,1,0,0,1,0,0,1,0,0,1
977,-0.179508,-0.328594,-0.295637,0.307622,0.548690,LP002975,NaN,0,1,0,...,0,0,1,0,1,0,0,0,0,1
978,-0.339024,0.143919,-0.157777,0.307622,-1.822522,LP002980,NaN,0,1,0,...,0,0,1,0,1,0,0,0,1,0
979,-0.031586,0.291119,0.243270,0.307622,0.548690,LP002986,NaN,0,1,0,...,0,0,1,0,1,0,0,1,0,0
980,0.706265,-0.589506,-0.508693,-1.927395,0.548690,LP002989,NaN,0,1,0,...,0,0,1,0,0,0,1,1,0,0

In [50]:

preprc_test.reset_index(inplace=True, drop=True)

In [51]:
display(preprc_train.head(), preprc_train.tail())

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_ID,Loan_Status,Gender_Female,Gender_Male,Gender_Unknown,...,Dependents_3+,Dependents_na,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Unknown,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0.117565,-0.589506,-1.736899,0.307622,0.54869,LP001002,Y,0,1,0,...,0,0,1,0,1,0,0,0,0,1
1,-0.104844,-0.034561,-0.132711,0.307622,0.54869,LP001003,N,0,1,0,...,0,0,1,0,1,0,0,1,0,0
2,-0.382944,-0.589506,-0.909740,0.307622,0.54869,LP001005,Y,0,1,0,...,0,0,1,0,0,0,1,0,0,1
3,-0.456202,0.278239,-0.232973,0.307622,0.54869,LP001006,Y,0,1,0,...,0,0,0,1,1,0,0,0,0,1
4,0.144093,-0.589506,0.030214,0.307622,0.54869,LP001008,Y,0,1,0,...,0,0,1,0,1,0,0,0,0,1

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_ID,Loan_Status,Gender_Female,Gender_Male,Gender_Unknown,...,Dependents_3+,Dependents_na,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Unknown,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
609,-0.400512,-0.589506,-0.847076,0.307622,0.548690,LP002978,Y,1,0,0,...,0,0,1,0,1,0,0,1,0,0
610,-0.188643,-0.589506,-1.235590,-1.927395,0.548690,LP002979,Y,0,1,0,...,1,0,1,0,1,0,0,1,0,0
611,0.508100,-0.501186,1.433878,0.307622,0.548690,LP002983,Y,0,1,0,...,0,0,1,0,1,0,0,0,0,1
612,0.422193,-0.589506,0.606719,0.307622,0.548690,LP002984,Y,0,1,0,...,0,0,1,0,1,0,0,0,0,1
613,-0.104844,-0.589506,-0.070048,0.307622,-1.822522,LP002990,N,1,0,0,...,0,0,1,0,0,0,1,0,1,0

In [52]:
display(preprc_test.head(), preprc_test.tail())

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_ID,Loan_Status,Gender_Female,Gender_Male,Gender_Unknown,...,Dependents_3+,Dependents_na,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Unknown,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0.094903,-0.589506,-0.358300,0.307622,0.548690,LP001015,NaN,0,1,0,...,0,0,1,0,1,0,0,0,0,1
1,-0.369593,-0.037505,-0.157777,0.307622,0.548690,LP001022,NaN,0,1,0,...,0,0,1,0,1,0,0,0,0,1
2,-0.031586,0.072895,0.869906,0.307622,0.548690,LP001031,NaN,0,1,0,...,0,0,1,0,1,0,0,0,0,1
3,-0.498892,0.347423,-0.483627,0.307622,-1.822522,LP001035,NaN,0,1,0,...,0,0,1,0,1,0,0,0,0,1
4,-0.334457,-0.589506,-0.759347,0.307622,0.548690,LP001051,NaN,0,1,0,...,0,0,0,1,1,0,0,0,0,1

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_ID,Loan_Status,Gender_Female,Gender_Male,Gender_Unknown,...,Dependents_3+,Dependents_na,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Unknown,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
362,-0.205684,0.064431,-0.320702,0.307622,0.548690,LP002971,NaN,0,1,0,...,1,0,0,1,0,0,1,0,0,1
363,-0.179508,-0.328594,-0.295637,0.307622,0.548690,LP002975,NaN,0,1,0,...,0,0,1,0,1,0,0,0,0,1
364,-0.339024,0.143919,-0.157777,0.307622,-1.822522,LP002980,NaN,0,1,0,...,0,0,1,0,1,0,0,0,1,0
365,-0.031586,0.291119,0.243270,0.307622,0.548690,LP002986,NaN,0,1,0,...,0,0,1,0,1,0,0,1,0,0
366,0.706265,-0.589506,-0.508693,-1.927395,0.548690,LP002989,NaN,0,1,0,...,0,0,1,0,0,0,1,1,0,0

### Transferring the train and test data into csv file on the computer

In [53]:
preprc_train.to_csv('preprocessed_Loan_train_data.csv',index=False)
preprc_test.to_csv('preprocessed_Loan_test_data.csv',index=False)

### Reading the same file as it is

In [54]:
tot_train = pd.read_csv('preprocessed_Loan_train_data.csv')
tot_test = pd.read_csv('preprocessed_Loan_test_data.csv')

In [55]:
display(tot_train.head(), tot_test.head())

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_ID,Loan_Status,Gender_Female,Gender_Male,Gender_Unknown,...,Dependents_3+,Dependents_na,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Unknown,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0.117565,-0.589506,-1.736899,0.307622,0.54869,LP001002,Y,0,1,0,...,0,0,1,0,1,0,0,0,0,1
1,-0.104844,-0.034561,-0.132711,0.307622,0.54869,LP001003,N,0,1,0,...,0,0,1,0,1,0,0,1,0,0
2,-0.382944,-0.589506,-0.909740,0.307622,0.54869,LP001005,Y,0,1,0,...,0,0,1,0,0,0,1,0,0,1
3,-0.456202,0.278239,-0.232973,0.307622,0.54869,LP001006,Y,0,1,0,...,0,0,0,1,1,0,0,0,0,1
4,0.144093,-0.589506,0.030214,0.307622,0.54869,LP001008,Y,0,1,0,...,0,0,1,0,1,0,0,0,0,1

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_ID,Loan_Status,Gender_Female,Gender_Male,Gender_Unknown,...,Dependents_3+,Dependents_na,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Unknown,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0.094903,-0.589506,-0.358300,0.307622,0.548690,LP001015,NaN,0,1,0,...,0,0,1,0,1,0,0,0,0,1
1,-0.369593,-0.037505,-0.157777,0.307622,0.548690,LP001022,NaN,0,1,0,...,0,0,1,0,1,0,0,0,0,1
2,-0.031586,0.072895,0.869906,0.307622,0.548690,LP001031,NaN,0,1,0,...,0,0,1,0,1,0,0,0,0,1
3,-0.498892,0.347423,-0.483627,0.307622,-1.822522,LP001035,NaN,0,1,0,...,0,0,1,0,1,0,0,0,0,1
4,-0.334457,-0.589506,-0.759347,0.307622,0.548690,LP001051,NaN,0,1,0,...,0,0,0,1,1,0,0,0,0,1

## Modelling on the data

In [56]:
from sklearn.model_selection import train_test_split

In [57]:
X = tot_train.drop(columns = ['Loan_ID','Loan_Status'])

In [58]:
X.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Gender_Unknown,Married_No,Married_Unknown,...,Dependents_3+,Dependents_na,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Unknown,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0.117565,-0.589506,-1.736899,0.307622,0.54869,0,1,0,1,0,...,0,0,1,0,1,0,0,0,0,1
1,-0.104844,-0.034561,-0.132711,0.307622,0.54869,0,1,0,0,0,...,0,0,1,0,1,0,0,1,0,0
2,-0.382944,-0.589506,-0.909740,0.307622,0.54869,0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,1
3,-0.456202,0.278239,-0.232973,0.307622,0.54869,0,1,0,0,0,...,0,0,0,1,1,0,0,0,0,1
4,0.144093,-0.589506,0.030214,0.307622,0.54869,0,1,0,1,0,...,0,0,1,0,1,0,0,0,0,1

In [59]:
y = tot_train['Loan_Status']

In [60]:
y.head()

0    Y
1    N
2    Y
3    Y
4    Y
Name: Loan_Status, dtype: object

### train test split

In [61]:
train_X, test_X, train_y, test_y = train_test_split(X,y,test_size=0.2,random_state = 33)

In [62]:
train_y.head()

421    N
366    N
126    Y
42     Y
65     N
Name: Loan_Status, dtype: object

In [63]:
train_X.shape, test_X.shape, train_y.shape, test_y.shape

((491, 24), (123, 24), (491,), (123,))

In [64]:
from sklearn.linear_model import LogisticRegression

In [65]:
model = LogisticRegression(max_iter=500)

In [66]:
model.fit(train_X,train_y)

LogisticRegression(max_iter=500)

In [67]:
display(model.coef_, model.intercept_)

array([[-0.08492502, -0.12899123,  0.00118934, -0.07926598,  0.94281031,
         0.05262438,  0.13972637, -0.19219558, -0.45750795,  0.36199484,
         0.09566827,  0.09501697, -0.42994111,  0.32228546,  0.08890422,
        -0.07611038,  0.14021024, -0.14005508, -0.17436318,  0.14228527,
         0.03223307, -0.37251753,  0.49288192, -0.12020923]])

array([0.81770241])

In [68]:
train_pred_proba = model.predict_proba(train_X)

In [69]:
train_pred_proba

array([[0.76910768, 0.23089232],
       [0.1759728 , 0.8240272 ],
       [0.332261  , 0.667739  ],
       [0.65302392, 0.34697608],
       [0.12440923, 0.87559077],
       [0.65246926, 0.34753074],
       [0.15369733, 0.84630267],
       [0.26957385, 0.73042615],
       [0.26804257, 0.73195743],
       [0.17927616, 0.82072384],
       [0.37783305, 0.62216695],
       [0.22668317, 0.77331683],
       [0.35978269, 0.64021731],
       [0.73392032, 0.26607968],
       [0.21104444, 0.78895556],
       [0.133224  , 0.866776  ],
       [0.54506823, 0.45493177],
       [0.54412243, 0.45587757],
       [0.10825904, 0.89174096],
       [0.36098222, 0.63901778],
       [0.10517707, 0.89482293],
       [0.08155164, 0.91844836],
       [0.27602894, 0.72397106],
       [0.74407617, 0.25592383],
       [0.32900062, 0.67099938],
       [0.27973707, 0.72026293],
       [0.73547752, 0.26452248],
       [0.10275345, 0.89724655],
       [0.68090307, 0.31909693],
       [0.176962  , 0.823038  ],
       [0.18734968, 0.81265032],
       [0.15772764, 0.84227236],
       [0.34190041, 0.65809959],
       [0.26943448, 0.73056552],
       [0.39401063, 0.60598937],
       [0.50488409, 0.49511591],
       [0.11707033, 0.88292967],
       [0.27810793, 0.72189207],
       [0.32357464, 0.67642536],
       [0.09355086, 0.90644914],
       [0.1086954 , 0.8913046 ],
       [0.19365717, 0.80634283],
       [0.12320738, 0.87679262],
       [0.22409629, 0.77590371],
       [0.2073957 , 0.7926043 ],
       [0.17874957, 0.82125043],
       [0.08612306, 0.91387694],
       [0.14450761, 0.85549239],
       [0.1255476 , 0.8744524 ],
       [0.59193546, 0.40806454],
       [0.27743079, 0.72256921],
       [0.7318952 , 0.2681048 ],
       [0.58482589, 0.41517411],
       [0.11035186, 0.88964814],
       [0.39233477, 0.60766523],
       [0.19073771, 0.80926229],
       [0.32681706, 0.67318294],
       [0.2778101 , 0.7221899 ],
       [0.61430281, 0.38569719],
       [0.28456662, 0.71543338],
       [0.60513529, 0.39486471],
       [0.82403852, 0.17596148],
       [0.23086588, 0.76913412],
       [0.24444236, 0.75555764],
       [0.22459925, 0.77540075],
       [0.14988519, 0.85011481],
       [0.22404004, 0.77595996],
       [0.17814615, 0.82185385],
       [0.30022344, 0.69977656],
       [0.78188179, 0.21811821],
       [0.20504532, 0.79495468],
       [0.17375466, 0.82624534],
       [0.27419119, 0.72580881],
       [0.3783312 , 0.6216688 ],
       [0.2930991 , 0.7069009 ],
       [0.2789233 , 0.7210767 ],
       [0.11306841, 0.88693159],
       [0.78400869, 0.21599131],
       [0.72191147, 0.27808853],
       [0.19043623, 0.80956377],
       [0.16597657, 0.83402343],
       [0.19044879, 0.80955121],
       [0.13832418, 0.86167582],
       [0.2804942 , 0.7195058 ],
       [0.1285109 , 0.8714891 ],
       [0.2147613 , 0.7852387 ],
       [0.16127833, 0.83872167],
       [0.1863857 , 0.8136143 ],
       [0.11095495, 0.88904505],
       [0.10513411, 0.89486589],
       [0.11316275, 0.88683725],
       [0.17756004, 0.82243996],
       [0.39200261, 0.60799739],
       [0.67964359, 0.32035641],
       [0.35985218, 0.64014782],
       [0.81375179, 0.18624821],
       [0.27722432, 0.72277568],
       [0.1074339 , 0.8925661 ],
       [0.35002514, 0.64997486],
       [0.1643136 , 0.8356864 ],
       [0.351569  , 0.648431  ],
       [0.11604238, 0.88395762],
       [0.71816571, 0.28183429],
       [0.87709975, 0.12290025],
       [0.34159683, 0.65840317],
       [0.76563567, 0.23436433],
       [0.49654021, 0.50345979],
       [0.26173792, 0.73826208],
       [0.18796685, 0.81203315],
       [0.09778261, 0.90221739],
       [0.27351083, 0.72648917],
       [0.1550653 , 0.8449347 ],
       [0.67961635, 0.32038365],
       [0.24167137, 0.75832863],
       [0.16896899, 0.83103101],
       [0.15163575, 0.84836425],
       [0.25986074, 0.74013926],
       [0.27855461, 0.72144539],
       [0.67444533, 0.32555467],
       [0.31547329, 0.68452671],
       [0.37702239, 0.62297761],
       [0.19192447, 0.80807553],
       [0.15998478, 0.84001522],
       [0.28651165, 0.71348835],
       [0.10915049, 0.89084951],
       [0.1000793 , 0.8999207 ],
       [0.10767262, 0.89232738],
       [0.10727243, 0.89272757],
       [0.29145986, 0.70854014],
       [0.1976122 , 0.8023878 ],
       [0.18797169, 0.81202831],
       [0.26624649, 0.73375351],
       [0.09732266, 0.90267734],
       [0.21411756, 0.78588244],
       [0.62619716, 0.37380284],
       [0.55353557, 0.44646443],
       [0.11515595, 0.88484405],
       [0.22988   , 0.77012   ],
       [0.83021339, 0.16978661],
       [0.61571193, 0.38428807],
       [0.1752823 , 0.8247177 ],
       [0.84597829, 0.15402171],
       [0.73568397, 0.26431603],
       [0.12811757, 0.87188243],
       [0.23758689, 0.76241311],
       [0.78318645, 0.21681355],
       [0.40768219, 0.59231781],
       [0.66529542, 0.33470458],
       [0.13067421, 0.86932579],
       [0.74492091, 0.25507909],
       [0.19130543, 0.80869457],
       [0.74267578, 0.25732422],
       [0.69541918, 0.30458082],
       [0.1085247 , 0.8914753 ],
       [0.08733465, 0.91266535],
       [0.14709395, 0.85290605],
       [0.17495153, 0.82504847],
       [0.74967196, 0.25032804],
       [0.6758608 , 0.3241392 ],
       [0.19057754, 0.80942246],
       [0.27641562, 0.72358438],
       [0.58234598, 0.41765402],
       [0.21985608, 0.78014392],
       [0.56331649, 0.43668351],
       [0.19792523, 0.80207477],
       [0.1622716 , 0.8377284 ],
       [0.71331571, 0.28668429],
       [0.16433258, 0.83566742],
       [0.2127212 , 0.7872788 ],
       [0.08646072, 0.91353928],
       [0.77340445, 0.22659555],
       [0.2274624 , 0.7725376 ],
       [0.26874019, 0.73125981],
       [0.22593652, 0.77406348],
       [0.10478766, 0.89521234],
       [0.11217111, 0.88782889],
       [0.11192906, 0.88807094],
       [0.83283711, 0.16716289],
       [0.18476489, 0.81523511],
       [0.13884828, 0.86115172],
       [0.25804365, 0.74195635],
       [0.11903221, 0.88096779],
       [0.27141254, 0.72858746],
       [0.45879719, 0.54120281],
       [0.08292547, 0.91707453],
       [0.18155104, 0.81844896],
       [0.15289055, 0.84710945],
       [0.63065102, 0.36934898],
       [0.21429556, 0.78570444],
       [0.26745978, 0.73254022],
       [0.0862234 , 0.9137766 ],
       [0.08051397, 0.91948603],
       [0.72044525, 0.27955475],
       [0.15735518, 0.84264482],
       [0.27150475, 0.72849525],
       [0.556766  , 0.443234  ],
       [0.13045619, 0.86954381],
       [0.63923579, 0.36076421],
       [0.32986865, 0.67013135],
       [0.20239515, 0.79760485],
       [0.28321465, 0.71678535],
       [0.2664382 , 0.7335618 ],
       [0.10509565, 0.89490435],
       [0.66575444, 0.33424556],
       [0.63355452, 0.36644548],
       [0.1838584 , 0.8161416 ],
       [0.65819894, 0.34180106],
       [0.13499512, 0.86500488],
       [0.1886844 , 0.8113156 ],
       [0.28690487, 0.71309513],
       [0.11181552, 0.88818448],
       [0.23050721, 0.76949279],
       [0.17659134, 0.82340866],
       [0.76322535, 0.23677465],
       [0.17518638, 0.82481362],
       [0.73540767, 0.26459233],
       [0.40071714, 0.59928286],
       [0.10344817, 0.89655183],
       [0.27255498, 0.72744502],
       [0.41166672, 0.58833328],
       [0.24594516, 0.75405484],
       [0.17461966, 0.82538034],
       [0.25588259, 0.74411741],
       [0.21684853, 0.78315147],
       [0.33094565, 0.66905435],
       [0.2551352 , 0.7448648 ],
       [0.27918047, 0.72081953],
       [0.33163259, 0.66836741],
       [0.75782584, 0.24217416],
       [0.32947627, 0.67052373],
       [0.34485376, 0.65514624],
       [0.17592857, 0.82407143],
       [0.32909361, 0.67090639],
       [0.18383225, 0.81616775],
       [0.09078272, 0.90921728],
       [0.19580286, 0.80419714],
       [0.10754763, 0.89245237],
       [0.6677261 , 0.3322739 ],
       [0.14812857, 0.85187143],
       [0.08796763, 0.91203237],
       [0.2299654 , 0.7700346 ],
       [0.75462462, 0.24537538],
       [0.21404438, 0.78595562],
       [0.15817793, 0.84182207],
       [0.17486758, 0.82513242],
       [0.22706194, 0.77293806],
       [0.14743585, 0.85256415],
       [0.129923  , 0.870077  ],
       [0.08645217, 0.91354783],
       [0.7164575 , 0.2835425 ],
       [0.22914819, 0.77085181],
       [0.1280389 , 0.8719611 ],
       [0.57266984, 0.42733016],
       [0.22586354, 0.77413646],
       [0.17789534, 0.82210466],
       [0.23023738, 0.76976262],
       [0.2327324 , 0.7672676 ],
       [0.31610917, 0.68389083],
       [0.23815133, 0.76184867],
       [0.1901196 , 0.8098804 ],
       [0.29062334, 0.70937666],
       [0.09363802, 0.90636198],
       [0.08965637, 0.91034363],
       [0.75369045, 0.24630955],
       [0.23863243, 0.76136757],
       [0.23443795, 0.76556205],
       [0.23252852, 0.76747148],
       [0.09216886, 0.90783114],
       [0.14866094, 0.85133906],
       [0.28488065, 0.71511935],
       [0.15893898, 0.84106102],
       [0.6489846 , 0.3510154 ],
       [0.7457532 , 0.2542468 ],
       [0.11210225, 0.88789775],
       [0.55452957, 0.44547043],
       [0.26521264, 0.73478736],
       [0.73936618, 0.26063382],
       [0.3515104 , 0.6484896 ],
       [0.08441827, 0.91558173],
       [0.11072689, 0.88927311],
       [0.67728657, 0.32271343],
       [0.14185197, 0.85814803],
       [0.25931212, 0.74068788],
       [0.17436223, 0.82563777],
       [0.39886506, 0.60113494],
       [0.77167755, 0.22832245],
       [0.25873205, 0.74126795],
       [0.11974898, 0.88025102],
       [0.83712524, 0.16287476],
       [0.81736041, 0.18263959],
       [0.10188845, 0.89811155],
       [0.2810283 , 0.7189717 ],
       [0.14407735, 0.85592265],
       [0.11799673, 0.88200327],
       [0.16795894, 0.83204106],
       [0.30073098, 0.69926902],
       [0.67950021, 0.32049979],
       [0.17899312, 0.82100688],
       [0.6961009 , 0.3038991 ],
       [0.15747745, 0.84252255],
       [0.1097898 , 0.8902102 ],
       [0.86876938, 0.13123062],
       [0.53180392, 0.46819608],
       [0.93872352, 0.06127648],
       [0.10703651, 0.89296349],
       [0.21006215, 0.78993785],
       [0.59506378, 0.40493622],
       [0.16112543, 0.83887457],
       [0.18986004, 0.81013996],
       [0.15832528, 0.84167472],
       [0.25948405, 0.74051595],
       [0.29475059, 0.70524941],
       [0.2075641 , 0.7924359 ],
       [0.10782856, 0.89217144],
       [0.11073011, 0.88926989],
       [0.13952802, 0.86047198],
       [0.1918698 , 0.8081302 ],
       [0.11601312, 0.88398688],
       [0.17892076, 0.82107924],
       [0.33249172, 0.66750828],
       [0.14365295, 0.85634705],
       [0.11809475, 0.88190525],
       [0.8868746 , 0.1131254 ],
       [0.26302588, 0.73697412],
       [0.31356595, 0.68643405],
       [0.16687996, 0.83312004],
       [0.82514874, 0.17485126],
       [0.14414868, 0.85585132],
       [0.39339843, 0.60660157],
       [0.22331499, 0.77668501],
       [0.51173367, 0.48826633],
       [0.16036415, 0.83963585],
       [0.23391526, 0.76608474],
       [0.23085598, 0.76914402],
       [0.59691274, 0.40308726],
       [0.0914032 , 0.9085968 ],
       [0.64445725, 0.35554275],
       [0.22290006, 0.77709994],
       [0.18873369, 0.81126631],
       [0.39262485, 0.60737515],
       [0.22013788, 0.77986212],
       [0.32986777, 0.67013223],
       [0.22073189, 0.77926811],
       [0.21417236, 0.78582764],
       [0.27191579, 0.72808421],
       [0.7717013 , 0.2282987 ],
       [0.61256925, 0.38743075],
       [0.09203036, 0.90796964],
       [0.10342954, 0.89657046],
       [0.18302128, 0.81697872],
       [0.07446648, 0.92553352],
       [0.16208525, 0.83791475],
       [0.12792427, 0.87207573],
       [0.7721961 , 0.2278039 ],
       [0.11507155, 0.88492845],
       [0.34531079, 0.65468921],
       [0.12961551, 0.87038449],
       [0.08308254, 0.91691746],
       [0.77340037, 0.22659963],
       [0.82629283, 0.17370717],
       [0.17009179, 0.82990821],
       [0.26775688, 0.73224312],
       [0.35206379, 0.64793621],
       [0.22229967, 0.77770033],
       [0.26265003, 0.73734997],
       [0.62194967, 0.37805033],
       [0.08380559, 0.91619441],
       [0.17402719, 0.82597281],
       [0.81831757, 0.18168243],
       [0.21375906, 0.78624094],
       [0.72832768, 0.27167232],
       [0.20575895, 0.79424105],
       [0.30512412, 0.69487588],
       [0.25831281, 0.74168719],
       [0.18553162, 0.81446838],
       [0.06644644, 0.93355356],
       [0.10220064, 0.89779936],
       [0.2766068 , 0.7233932 ],
       [0.2622259 , 0.7377741 ],
       [0.2059738 , 0.7940262 ],
       [0.09048583, 0.90951417],
       [0.26639052, 0.73360948],
       [0.21924967, 0.78075033],
       [0.75456863, 0.24543137],
       [0.28631983, 0.71368017],
       [0.10854533, 0.89145467],
       [0.26867537, 0.73132463],
       [0.25402037, 0.74597963],
       [0.39067542, 0.60932458],
       [0.13842536, 0.86157464],
       [0.13923318, 0.86076682],
       [0.35500584, 0.64499416],
       [0.79470694, 0.20529306],
       [0.10854024, 0.89145976],
       [0.21322225, 0.78677775],
       [0.54142471, 0.45857529],
       [0.17577846, 0.82422154],
       [0.1417591 , 0.8582409 ],
       [0.26767652, 0.73232348],
       [0.15430826, 0.84569174],
       [0.08881426, 0.91118574],
       [0.1311433 , 0.8688567 ],
       [0.23076273, 0.76923727],
       [0.29947719, 0.70052281],
       [0.16855725, 0.83144275],
       [0.79586343, 0.20413657],
       [0.8098002 , 0.1901998 ],
       [0.1778296 , 0.8221704 ],
       [0.73595704, 0.26404296],
       [0.17303713, 0.82696287],
       [0.17036449, 0.82963551],
       [0.38088003, 0.61911997],
       [0.2373407 , 0.7626593 ],
       [0.66558802, 0.33441198],
       [0.23606815, 0.76393185],
       [0.09182769, 0.90817231],
       [0.17271675, 0.82728325],
       [0.78470153, 0.21529847],
       [0.70800972, 0.29199028],
       [0.19431186, 0.80568814],
       [0.26501972, 0.73498028],
       [0.25564752, 0.74435248],
       [0.39039184, 0.60960816],
       [0.17229602, 0.82770398],
       [0.18707059, 0.81292941],
       [0.22269711, 0.77730289],
       [0.29256357, 0.70743643],
       [0.26320984, 0.73679016],
       [0.2823599 , 0.7176401 ],
       [0.33246904, 0.66753096],
       [0.23579879, 0.76420121],
       [0.23483293, 0.76516707],
       [0.27918738, 0.72081262],
       [0.30008165, 0.69991835],
       [0.28258139, 0.71741861],
       [0.79809473, 0.20190527],
       [0.33811818, 0.66188182],
       [0.20238094, 0.79761906],
       [0.14347665, 0.85652335],
       [0.83907774, 0.16092226],
       [0.20708404, 0.79291596],
       [0.27686068, 0.72313932],
       [0.36871407, 0.63128593],
       [0.19227327, 0.80772673],
       [0.28672761, 0.71327239],
       [0.27879443, 0.72120557],
       [0.67505626, 0.32494374],
       [0.10630323, 0.89369677],
       [0.1020228 , 0.8979772 ],
       [0.58230996, 0.41769004],
       [0.17310023, 0.82689977],
       [0.38224788, 0.61775212],
       [0.16511486, 0.83488514],
       [0.32495427, 0.67504573],
       [0.08440546, 0.91559454],
       [0.31887149, 0.68112851],
       [0.14205429, 0.85794571],
       [0.28215241, 0.71784759],
       [0.10375972, 0.89624028],
       [0.17051318, 0.82948682],
       [0.58975369, 0.41024631],
       [0.26165568, 0.73834432],
       [0.81683423, 0.18316577],
       [0.8224993 , 0.1775007 ],
       [0.32709938, 0.67290062],
       [0.32190753, 0.67809247],
       [0.18774318, 0.81225682],
       [0.3975289 , 0.6024711 ],
       [0.22831227, 0.77168773],
       [0.5380496 , 0.4619504 ],
       [0.11318152, 0.88681848],
       [0.32393754, 0.67606246],
       [0.21383116, 0.78616884],
       [0.14402349, 0.85597651],
       [0.23643416, 0.76356584],
       [0.3116851 , 0.6883149 ],
       [0.15159985, 0.84840015],
       [0.19291784, 0.80708216],
       [0.45689437, 0.54310563],
       [0.22704555, 0.77295445],
       [0.33594834, 0.66405166],
       [0.22199557, 0.77800443],
       [0.39735218, 0.60264782],
       [0.16965055, 0.83034945],
       [0.22043122, 0.77956878],
       [0.17373768, 0.82626232],
       [0.22565896, 0.77434104],
       [0.59422521, 0.40577479],
       [0.32525492, 0.67474508],
       [0.22411987, 0.77588013],
       [0.7292198 , 0.2707802 ]])

### Predicting the values

In [70]:
train_pred = model.predict(train_X)

In [71]:
train_pred

array(['N', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N',
       'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N',
       'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'N', 'Y', 'N', 'N',
       'Y', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'Y',
       'Y', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N',
       'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N',
       'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N',
       'Y', 'Y', 'N', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N'], dtype=object)

In [73]:
from sklearn.metrics import accuracy_score, f1_score, confusion_matrix

In [74]:
train_y

421    N
366    N
126    Y
42     Y
65     N
      ..
57     N
201    Y
578    Y
391    Y
20     N
Name: Loan_Status, Length: 491, dtype: object

In [75]:
train_pred

array(['N', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N',
       'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N',
       'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'N', 'Y', 'N', 'N',
       'Y', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'Y',
       'Y', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N',
       'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N',
       'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N',
       'Y', 'Y', 'N', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N'], dtype=object)

In [76]:
print('Train accuracy')
print('accuracy score',accuracy_score(train_y,train_pred))
print('f1 score',f1_score(train_y,train_pred,pos_label='Y'))
print('confusion matrix\n',confusion_matrix(train_y,train_pred))

Train accuracy
accuracy score 0.769857433808554
f1 score 0.8432732316227461
confusion matrix
 [[ 74  82]
 [ 31 304]]

In [77]:
test_X.columns

Index(['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Gender_Female', 'Gender_Male',
       'Gender_Unknown', 'Married_No', 'Married_Unknown', 'Married_Yes',
       'Dependents_0', 'Dependents_1', 'Dependents_2', 'Dependents_3+',
       'Dependents_na', 'Education_Graduate', 'Education_Not Graduate',
       'Self_Employed_No', 'Self_Employed_Unknown', 'Self_Employed_Yes',
       'Property_Area_Rural', 'Property_Area_Semiurban',
       'Property_Area_Urban'],
      dtype='object')

In [78]:
test_pred  = model.predict(test_X)

In [79]:
print('test accuracy')
print('accuracy score',accuracy_score(test_y,test_pred))
print('f1 score',f1_score(test_y,test_pred,pos_label='Y'))
print('confusion matrix\n',confusion_matrix(test_y,test_pred))

test accuracy
accuracy score 0.7642276422764228
f1 score 0.8379888268156424
confusion matrix
 [[19 17]
 [12 75]]

In [80]:
tot_test.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_ID,Loan_Status,Gender_Female,Gender_Male,Gender_Unknown,...,Dependents_3+,Dependents_na,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Unknown,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0.094903,-0.589506,-0.358300,0.307622,0.548690,LP001015,NaN,0,1,0,...,0,0,1,0,1,0,0,0,0,1
1,-0.369593,-0.037505,-0.157777,0.307622,0.548690,LP001022,NaN,0,1,0,...,0,0,1,0,1,0,0,0,0,1
2,-0.031586,0.072895,0.869906,0.307622,0.548690,LP001031,NaN,0,1,0,...,0,0,1,0,1,0,0,0,0,1
3,-0.498892,0.347423,-0.483627,0.307622,-1.822522,LP001035,NaN,0,1,0,...,0,0,1,0,1,0,0,0,0,1
4,-0.334457,-0.589506,-0.759347,0.307622,0.548690,LP001051,NaN,0,1,0,...,0,0,0,1,1,0,0,0,0,1

In [81]:
tot_test1 = tot_test.drop(columns = ['Loan_ID', 'Loan_Status'])

In [82]:
tot_test1.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Gender_Unknown,Married_No,Married_Unknown,...,Dependents_3+,Dependents_na,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Unknown,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0.094903,-0.589506,-0.358300,0.307622,0.548690,0,1,0,0,0,...,0,0,1,0,1,0,0,0,0,1
1,-0.369593,-0.037505,-0.157777,0.307622,0.548690,0,1,0,0,0,...,0,0,1,0,1,0,0,0,0,1
2,-0.031586,0.072895,0.869906,0.307622,0.548690,0,1,0,0,0,...,0,0,1,0,1,0,0,0,0,1
3,-0.498892,0.347423,-0.483627,0.307622,-1.822522,0,1,0,0,0,...,0,0,1,0,1,0,0,0,0,1
4,-0.334457,-0.589506,-0.759347,0.307622,0.548690,0,1,0,1,0,...,0,0,0,1,1,0,0,0,0,1

In [83]:
tot_test_pred  = model.predict(tot_test1)

In [84]:
tot_test_pred

array(['Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N',
       'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y',
       'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y',
       'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y',
       'N', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'N',
       'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'N', 'N', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y',
       'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N',
       'Y', 'Y', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y'], dtype=object)

In [85]:
print('tot test accuracy')
print('accuracy score',accuracy_score(test_y,test_pred))
print('f1 score',f1_score(test_y,test_pred,pos_label='Y'))
print('confusion matrix\n',confusion_matrix(test_y,test_pred))

tot test accuracy
accuracy score 0.7642276422764228
f1 score 0.8379888268156424
confusion matrix
 [[19 17]
 [12 75]]

In [86]:
submission.shape

(367, 2)

In [87]:
display(submission.head(),submission.tail())

    Loan_ID Loan_Status
0  LP001015           N
1  LP001022           N
2  LP001031           N
3  LP001035           N
4  LP001051           N

      Loan_ID Loan_Status
362  LP002971           N
363  LP002975           N
364  LP002980           N
365  LP002986           N
366  LP002989           N

## Deploy

In [88]:
submission.Loan_Status = tot_test_pred

In [89]:
display(submission.head(),submission.tail())

    Loan_ID Loan_Status
0  LP001015           Y
1  LP001022           Y
2  LP001031           Y
3  LP001035           N
4  LP001051           Y

      Loan_ID Loan_Status
362  LP002971           Y
363  LP002975           Y
364  LP002980           N
365  LP002986           Y
366  LP002989           Y

In [90]:
submission.to_csv('Loan_submission_res.csv',index=False)