### Bike share  prediction

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [2]:
import os

In [3]:
os.chdir(r"C:\Users\kalya\Santhosh\Data Science\Notebook\Preprocessing")

In [4]:
data = pd.read_csv("bike_share.csv")

In [5]:
data.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [6]:
data['season'].value_counts()

4    2734
2    2733
3    2733
1    2686
Name: season, dtype: int64

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   season      10886 non-null  int64
 1   holiday     10886 non-null  int64
 2   workingday  10886 non-null  int64
 3   weather     10886 non-null  int64
 4   temp        10886 non-null  float64
 5   atemp       10886 non-null  float64
 6   humidity    10886 non-null  int64
 7   windspeed   10886 non-null  float64
 8   casual      10886 non-null  int64
 9   registered  10886 non-null  int64
 10  count       10886 non-null  int64
dtypes: float64(3), int64(8)
memory usage: 935.6 KB

In [8]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
season,10886.0,2.506614,1.116174,1.00,2.0000,3.000,4.0000,4.0000
holiday,10886.0,0.028569,0.166599,0.00,0.0000,0.000,0.0000,1.0000
workingday,10886.0,0.680875,0.466159,0.00,0.0000,1.000,1.0000,1.0000
weather,10886.0,1.418427,0.633839,1.00,1.0000,1.000,2.0000,4.0000
temp,10886.0,20.230860,7.791590,0.82,13.9400,20.500,26.2400,41.0000
atemp,10886.0,23.655084,8.474601,0.76,16.6650,24.240,31.0600,45.4550
humidity,10886.0,61.886460,19.245033,0.00,47.0000,62.000,77.0000,100.0000
windspeed,10886.0,12.799395,8.164537,0.00,7.0015,12.998,16.9979,56.9969
casual,10886.0,36.021955,49.960477,0.00,4.0000,17.000,49.0000,367.0000
registered,10886.0,155.552177,151.039033,0.00,36.0000,118.000,222.0000,886.0000
count,10886.0,191.574132,181.144454,1.00,42.0000,145.000,284.0000,977.0000

In [9]:
scale = StandardScaler()
X = pd.DataFrame(scale.fit_transform(data.drop(columns='count')), columns = data.drop(columns='count').columns)

In [10]:
X.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered
0,-1.349864,-0.17149,-1.460672,-0.660178,-1.333661,-1.092737,0.993213,-1.567754,-0.660992,-0.943854
1,-1.349864,-0.17149,-1.460672,-0.660178,-1.438907,-1.182421,0.941249,-1.567754,-0.560908,-0.818052
2,-1.349864,-0.17149,-1.460672,-0.660178,-1.438907,-1.182421,0.941249,-1.567754,-0.620958,-0.851158
3,-1.349864,-0.17149,-1.460672,-0.660178,-1.333661,-1.092737,0.681430,-1.567754,-0.660992,-0.963717
4,-1.349864,-0.17149,-1.460672,-0.660178,-1.333661,-1.092737,0.681430,-1.567754,-0.721042,-1.023307

In [12]:
y = data['count']

In [13]:
y.head()

0    16
1    40
2    32
3    13
4     1
Name: count, dtype: int64

In [14]:
train_X, test_X, train_y, test_y = train_test_split(X,y,test_size = 0.3, random_state=2)

In [15]:
train_X.shape, test_X.shape, train_y.shape, test_y.shape

((7620, 10), (3266, 10), (7620,), (3266,))

In [16]:
model = LinearRegression()

In [17]:
model.fit(train_X,train_y)

LinearRegression()

In [18]:
model.coef_

array([-2.37306336e-14,  1.00692275e-14, -2.08828744e-14, -6.43557054e-14,
        4.64084947e-14, -7.75797422e-15, -4.76787796e-16,  1.64894720e-14,
        4.99581818e+01,  1.51032096e+02])

In [19]:
model.intercept_

191.57413191254824

In [20]:
train_pred = model.predict(train_X)

In [21]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   season      10886 non-null  float64
 1   holiday     10886 non-null  float64
 2   workingday  10886 non-null  float64
 3   weather     10886 non-null  float64
 4   temp        10886 non-null  float64
 5   atemp       10886 non-null  float64
 6   humidity    10886 non-null  float64
 7   windspeed   10886 non-null  float64
 8   casual      10886 non-null  float64
 9   registered  10886 non-null  float64
dtypes: float64(10)
memory usage: 850.6 KB

In [22]:
train_pred = model.predict(train_X)

In [23]:
train_pred

array([ 71., 102., 322., ..., 351.,  21., 107.])

In [24]:
train_mse = mean_squared_error(train_y, train_pred)

In [25]:
train_mae = mean_absolute_error(train_y, train_pred)
train_rmse = np.sqrt(mean_squared_error(train_y, train_pred))

train_mape = mean_absolute_percentage_error(train_y, train_pred)

test_pred = model.predict(test_X)

test_mse = mean_squared_error(test_y, test_pred)

test_mae = mean_absolute_error(test_y, test_pred)

test_rmse = np.sqrt(mean_squared_error(test_y, test_pred))

test_mape = mean_absolute_percentage_error(test_y, test_pred)

In [26]:
train_mse, train_mae, train_rmse, train_mape

(1.551300229189821e-26,
 9.249923661670659e-14,
 1.24551203494379e-13,
 3.0083045572631614e-15)

In [27]:
test_mse, test_mae, test_rmse, test_mape

(1.6092306444038017e-26,
 9.341918271138611e-14,
 1.268554549242484e-13,
 2.7227359908804383e-15)

In [31]:
model.predict([[1,30,0,10]])[0]

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 10 is different from 4)

In [28]:
y.head()

0    16
1    40
2    32
3    13
4     1
Name: count, dtype: int64

In [30]:
data.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [35]:
data.head()

   miles  temp  rain  ncabs  price
0      1    30     0     10     20
1      1    38     0      5     40
2      1    25     0      1     50
3      1    20     1     10     50
4      1    15     1      4     80