## first code in python

In [4]:
a='10a'
print(a)
5<4
var=10
digit=1+2+3 +4+ \
5+6\
+7
print(digit)
digit1=(1+32+3 +4+ \
5+6
+7)
print(digit1)
digit2=(1+32+33 +4+   ## multi line code
5+6
+7)
print(digit2)

a=1; b=2; c=3;
print(a,'\n',b,'\n',c)

x=list(range(1,20,4))   ## indendation
print(x)

for p in range(1,10):   ## for loop
    if (p<5):
        print(p)
        
for q in range(1,8):   ## for loop
    print(q)
    if (p==5):
        break
        
for i in range(1, 3): print(i)

if True: print('True')

10a
28
58
88
1
 2
 3
[1, 5, 9, 13, 17]
1
2
3
4
1
2
3
4
5
6
7
1
2
True

In [2]:
#=# comment section on short cut keys
# print('i am a software engineer')   -> ctrl+/ to comment set of lines and to uncomment the linesb
# print('i am marrier')

In [37]:
# multi line comments

""" this is my first class
started on 05-02-2022
imran is my tutor"""

' this is my first class\nstarted on 05-02-2022\nimran is my tutor'

## functions

### new comment

In [49]:
def function1():
    """this is my first function in the python program"""
    print('first function pgm')
;
    
def add_fun(a,b):
    """function to add two values"""
    return a+b

print(function1.__doc__)    ## doc string
function1()
print(add_fun.__doc__)
print(add_fun(5,6))
a1=add_fun(5,6)
if (a1>10):
    print(a1)

this is my first function in the python program
first function pgm
function to add two values
11
11