## Data type conversion

In [1]:
i=10;
float(i)

10.0

In [2]:
int(10.5)

10

In [5]:
float('5.5')

5.5

In [6]:
str(20)  ## it'ss like a varchar - accepts numerics, floating and char values

'20'

In [7]:
str(20.2)

'20.2'

## conversion of sequence from one to another

In [12]:
list1=[1,5,2,3,3]
display(set(list1))
display(tuple(list1))

{1, 2, 3, 5}

(1, 5, 2, 3, 3)

In [13]:
set1={3,8,8,83}
tuple(set1)

(8, 3, 83)

In [15]:
list('LIST094')  ## CONVERTING INTO LIST

['L', 'I', 'S', 'T', '0', '9', '4']

In [20]:
list(['abc','xyz'])

['abc', 'xyz']

In [18]:
print(dict([["name","john"],[10,50]]))   ## CONVERTING INTO DICTIONARY WITH 2 DIMENTIONAL ARRAY

{'name': 'john', 10: 50}

## Type Conversion

- Implicit Conversion
- Explicit Conversion

In [24]:
int_var =10
float_var =15.5
conversion1 = int_var + float_var
print('Data type of int_var is: ', type(int_var))
print('Data type of float_var is: ', type(float_var))
print('The new value after conversion: ', conversion1)
print('Datatype of conversion1 is: ', type(conversion1))

Data type of int_var is:  <class 'int'>
Data type of float_var is:  <class 'float'>
The new value after conversion:  25.5
Datatype of conversion1 is:  <class 'float'>

In [27]:
int_var =10
string_var = "15.5"
conversion1 = int_var + float(string_var)     ## converting from string to float
print('Data type of int_var is: ', type(int_var))
print('Data type of float_var is: ', type(float_var))
print('The new value after conversion: ', conversion1)
print('Datatype of conversion1 is: ', type(conversion1))

Data type of int_var is:  <class 'int'>
Data type of float_var is:  <class 'float'>
The new value after conversion:  25.5
Datatype of conversion1 is:  <class 'float'>

In [28]:
int_var =10
string_var = float("15.5")           ## converting from string to float
conversion1 = int_var + string_var     
print('Data type of int_var is: ', type(int_var))
print('Data type of float_var is: ', type(float_var))
print('The new value after conversion: ', conversion1)
print('Datatype of conversion1 is: ', type(conversion1))

Data type of int_var is:  <class 'int'>
Data type of float_var is:  <class 'float'>
The new value after conversion:  25.5
Datatype of conversion1 is:  <class 'float'>

In [36]:
str='santhosh'+' '+'kumar'
print(str)

santhosh kumar

## Input

In [37]:
num = input('Enter the value:')

add = int(num) + 55   ## must need to convert the entered value as per your requirement and calculation
print(add)

Enter the value:11
66

In [ ]:
num1 = input('Enter the first number:')
num2 = input('Enter the second number:')

add = int(num) + 55   ## must need to convert the entered value as per your requirement and calculation
print(add)

In [38]:
a = eval('10*8')    ## Eval will internally convert from string into integer and will calculate the multiplication
print(a)

80

## Operators  addition, multiplication, sub, div,

In [47]:
x = 4
y = 5

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(round(x // y))     ## remove the floating values and will rounded the value
print(type(x // y))
print(x ** y)
print(x%y)

9
-1
20
0.8
0
<class 'int'>
1024
4

## Logical Operators

In [49]:
x = True
y = False
print(x and y)
print(x or y)
print(not x)

False
True
False

## Assignment operators

In [50]:
x1 = 15
y1 = 15

x2 = 'Hello'
y2 = 'Hello'

x3 = [1,2,3]  ## it stores in one address location
y3 = [1,2,3]  ## it stores in different address location

x4 = (1,2,3)
y4 = (1,2,3)

In [52]:
print(x1 is y1)
## print(x1 is not y1)

True

In [53]:
print(x2 is y2)

True

In [63]:
print(x3 is y3)   ## we can't compare the list with other list value. 
                  ## position comparision will work. 
                  ## because array size can increase in future. 
                  ## So python didn't code internally to allow comparision list to list same way tuple to tuple
print(x3[1] is y3[1])   ## we can't compare the list with other list value. position comparision will work

False
True

In [55]:
print(x4 is y4)

False

In [61]:
id(x1), id(y1)  ## it is used to get the address where the value is stored(returns the reference number)

(1725988629232, 1725988629232)

In [ ]:
id(x2), id(y3)

In [59]:
id(x3), id(y3)

(1726070714880, 1726070652736)

In [64]:
id(x3[0]), id(y3[0])

(1725988628784, 1725988628784)

In [62]:
id(x4[1]), id(y4[1])

(1725988628816, 1725988628816)

## Membership operators

In [72]:
x = 'Hello word'
y = {10: 'a', 12: 'b'}

In [73]:
print('h' in x)  ## Case sensitive that's why it's false
print('H' in x)

False
True

In [74]:
print('hello' in x)

False

In [75]:
print(10 in y)  ## checking in the dictionary and checking with key values

True

In [76]:
print('a' in y)  ## we can only refer to the keys in dictionary and not to the values

False

In [ ]:
x = 'Hello word'
y = {10: 'a', 12: 'b', 10: 'c'}

In [77]:
print(y[10])   ## it will take the last entered value

c

## If Statements

In [85]:
num = int(input('enter the value:'))

enter the value:-5

In [88]:
num = int(input('enter the value:'))
if num > 0:
    print('positive value entered')
else:
    print('negative value entered')

enter the value:5
positive value entered

## if else

In [87]:
num = int(input('enter the value:'))
if num > 0:
    print('positive value entered')
elif num == 0:
    print('zero value entered')
else:
    print('negative value entered')

enter the value:0
zero value entered

## Nested if

In [91]:
num = int(input('enter the value:'))
if num >= 0:
    if num == 0:
        print('zero value entered')
    else:
        print('negative value entered')
else:
    print('negative value entered')

enter the value:-1
negative value entered

In [89]:
num = int(input('enter the value:'))
if num > 0:
    print('positive value entered')
else:
    if num == 0:
        print('zero value entered')
    else:
        print('negative value entered')

enter the value:-4
negative value entered

## for loop

In [127]:
##list = [1,2,3,4,5,6]

In [128]:
##list1 = [91,6,7,8,10]

In [129]:
##list1[0]

In [130]:
##list[3]

In [131]:
##list([10,33,44])   ## functions wont work when you use list keyword as object for the list

In [132]:
var_list = [1,2,3]

In [133]:
var_list2 = list([35, 21, 33])  ## this will work out

TypeError: 'list' object is not callable

In [134]:
del list   ## you need to delete the keyword created variable with list

In [141]:
var_list2 = list([35, 21, 33])
print(var_list2[2])
print(var_list2)

33
[35, 21, 33]

In [147]:
list1 = [11,22,33,44,55]
add = 0

for i in list1:               ## for loop
    add = add + i
    print(add)

11
33
66
110
165

In [149]:
##list1 = [11,22,33,44,55]
##add = 0

for i in list1:               ## for loop
    add = add + i
    print(i,add)

11 176
22 198
33 231
44 275
55 330

In [151]:
##list1 = [11,22,33,44,55]
add = 0

for i in list1:               ## for loop
    if i == 33:
        break
    add = add + i
    print(i,add)

11 11
22 33

In [145]:
print('10','\n','santhosh')

10
 santhosh