## Day-12 session - 13th March 2022 on python

### Pre-processing on CSV files(Datasets)

1. Get only the object column using select_dtypes() function
2. get the rows having the null values
3. One hot encoding
4. adding the new columns(dummies) for the specified columns
5. Label Binarizer 
6. Replacing with numerics
7. Label Encoder
8. Customer binary encoding

In [2]:
import os 
import numpy as np
import pandas as pd

In [4]:
os.chdir(r"C:\Users\kalya\Santhosh\Data Science\Notebook\Preprocessing")

In [5]:
os.getcwd()

'C:\\Users\\kalya\\Santhosh\\Data Science\\Notebook\\Preprocessing'

In [6]:
df = pd.read_csv('Adult.csv', na_values=['#NAME?'])

### Working with Auto dataset

### Categorical Conversion

In [26]:
df1 = pd.read_csv('Auto.csv')

In [27]:
df1.dtypes

symboling              int64
normalized_losses    float64
make                  object
fuel_type             object
aspiration            object
num_doors             object
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type           object
num_cylinders         object
engine_size            int64
fuel_system           object
bore                 float64
stroke               float64
compression_ratio    float64
horsepower           float64
peak_rpm             float64
city_mpg               int64
highway_mpg            int64
price                float64
dtype: object

In [28]:
df1.columns

Index(['symboling', 'normalized_losses', 'make', 'fuel_type', 'aspiration',
       'num_doors', 'body_style', 'drive_wheels', 'engine_location',
       'wheel_base', 'length', 'width', 'height', 'curb_weight', 'engine_type',
       'num_cylinders', 'engine_size', 'fuel_system', 'bore', 'stroke',
       'compression_ratio', 'horsepower', 'peak_rpm', 'city_mpg',
       'highway_mpg', 'price'],
      dtype='object')

#### Get only the object column using select_dtypes() function

In [121]:
obj_col = df1.select_dtypes(include=['object'])
obj_col.dtypes

make               object
fuel_type          object
aspiration         object
num_doors          object
body_style         object
drive_wheels       object
engine_location    object
engine_type        object
num_cylinders      object
fuel_system        object
dtype: object

In [30]:
obj_col

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
0,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
1,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
2,alfa-romero,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi
3,audi,gas,std,four,sedan,fwd,front,ohc,four,mpfi
4,audi,gas,std,four,sedan,4wd,front,ohc,five,mpfi
...,...,...,...,...,...,...,...,...,...,...
200,volvo,gas,std,four,sedan,rwd,front,ohc,four,mpfi
201,volvo,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi
202,volvo,gas,std,four,sedan,rwd,front,ohcv,six,mpfi
203,volvo,diesel,turbo,four,sedan,rwd,front,ohc,six,idi
204,volvo,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi

In [31]:
obj_col[obj_col.isnull().any(axis=1)]

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
27,dodge,gas,turbo,NaN,sedan,fwd,front,ohc,four,mpfi
63,mazda,diesel,std,NaN,sedan,fwd,front,ohc,four,idi

In [32]:
obj_col['num_doors'].value_counts()

four    114
two      89
Name: num_doors, dtype: int64

In [34]:
obj_col['num_doors'].nunique()

2

In [36]:
obj_col.isnull().sum()

make               0
fuel_type          0
aspiration         0
num_doors          2
body_style         0
drive_wheels       0
engine_location    0
engine_type        0
num_cylinders      0
fuel_system        0
dtype: int64

In [37]:
obj_col.fillna({'num_doors':'four'})

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
0,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
1,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
2,alfa-romero,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi
3,audi,gas,std,four,sedan,fwd,front,ohc,four,mpfi
4,audi,gas,std,four,sedan,4wd,front,ohc,five,mpfi
...,...,...,...,...,...,...,...,...,...,...
200,volvo,gas,std,four,sedan,rwd,front,ohc,four,mpfi
201,volvo,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi
202,volvo,gas,std,four,sedan,rwd,front,ohcv,six,mpfi
203,volvo,diesel,turbo,four,sedan,rwd,front,ohc,six,idi
204,volvo,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi

In [38]:
obj_col[obj_col.isnull().any(axis=1)]

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
27,dodge,gas,turbo,NaN,sedan,fwd,front,ohc,four,mpfi
63,mazda,diesel,std,NaN,sedan,fwd,front,ohc,four,idi

In [39]:
obj_col = obj_col.fillna({'num_doors':'four'})

In [40]:
obj_col[obj_col.isnull().any(axis=1)]

Empty DataFrame
Columns: [make, fuel_type, aspiration, num_doors, body_style, drive_wheels, engine_location, engine_type, num_cylinders, fuel_system]
Index: []

### One hot encoding

In [43]:
obj_col['body_style'].value_counts()

sedan          96
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: body_style, dtype: int64

In [44]:
obj_col['drive_wheels'].value_counts()

fwd    120
rwd     76
4wd      9
Name: drive_wheels, dtype: int64

### adding the new columns(dummies) for the specified columns

In [48]:
pd.get_dummies(obj_col, columns=['body_style', 'drive_wheels'],prefix=['body','drive']).head()

,make,fuel_type,aspiration,num_doors,engine_location,engine_type,num_cylinders,fuel_system,body_convertible,body_hardtop,body_hatchback,body_sedan,body_wagon,drive_4wd,drive_fwd,drive_rwd
0,alfa-romero,gas,std,two,front,dohc,four,mpfi,1,0,0,0,0,0,0,1
1,alfa-romero,gas,std,two,front,dohc,four,mpfi,1,0,0,0,0,0,0,1
2,alfa-romero,gas,std,two,front,ohcv,six,mpfi,0,0,1,0,0,0,0,1
3,audi,gas,std,four,front,ohc,four,mpfi,0,0,0,1,0,0,1,0
4,audi,gas,std,four,front,ohc,five,mpfi,0,0,0,1,0,1,0,0

### Label Binarizer   Vs getdummies()

### Label Binarizer  - it is used for converting only one column. We cant perform multiple columns converting using this Label Binarizer. 

### Where as we can convert multiple columns using getdummies() function

In [63]:
obj_col[:3]

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
0,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
1,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
2,alfa-romero,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi

In [51]:
from sklearn.preprocessing import LabelBinarizer

In [54]:
lb_style = LabelBinarizer()

In [67]:
lb_style.classes_

array(['convertible', 'hardtop', 'hatchback', 'sedan', 'wagon'],
      dtype='<U11')

In [68]:
lb_result = lb_style.fit_transform(obj_col['body_style'])
lb_result

array([[1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0],
       ...,
       [0, 0, 0, 1, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 1, 0]])

In [69]:
lb_df = pd.DataFrame(lb_result, columns = lb_style.classes_)

In [71]:
lb_df.head()

   convertible  hardtop  hatchback  sedan  wagon
0            1        0          0      0      0
1            1        0          0      0      0
2            0        0          1      0      0
3            0        0          0      1      0
4            0        0          0      1      0

### Replacing with numerics

In [75]:
obj_col['num_cylinders'].value_counts().sort_values()

three       1
twelve      1
two         4
eight       5
five       11
six        24
four      159
Name: num_cylinders, dtype: int64

In [76]:
obj_col['num_doors'].value_counts().sort_values()

two      89
four    116
Name: num_doors, dtype: int64

In [101]:
dic1 = {'num_cylinders': {'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six':6, 'eight':8, 'twelve': 12}, 'num_doors':{'two': 2, 'four': 4}}

In [102]:
dic1

{'num_cylinders': {'two': 2,
  'three': 3,
  'four': 4,
  'five': 5,
  'six': 6,
  'eight': 8,
  'twelve': 12},
 'num_doors': {'two': 2, 'four': 4}}

In [103]:
obj_col.replace(dic1, inplace = True)

In [104]:
obj_col.dtypes

make               object
fuel_type          object
aspiration         object
num_doors           int64
body_style         object
drive_wheels       object
engine_location    object
engine_type        object
num_cylinders       int64
fuel_system        object
make_code           int32
dtype: object

### Label Encoder

In [86]:
obj_col[:3]

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
0,alfa-romero,gas,std,2,convertible,rwd,front,dohc,4,mpfi
1,alfa-romero,gas,std,2,convertible,rwd,front,dohc,4,mpfi
2,alfa-romero,gas,std,2,hatchback,rwd,front,ohcv,six,mpfi

In [89]:
obj_col['make'].value_counts().head()

toyota        32
nissan        18
mazda         17
mitsubishi    13
honda         13
Name: make, dtype: int64

In [91]:
obj_col['make'].nunique()

22

In [92]:
obj_col['make'].value_counts()

toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
jaguar            3
chevrolet         3
alfa-romero       3
renault           2
mercury           1
Name: make, dtype: int64

In [93]:
from sklearn.preprocessing import LabelEncoder, LabelBinarizer

In [94]:
lb_make = LabelEncoder()

In [95]:
obj_col['make_code'] = lb_make.fit_transform(obj_col['make'])

In [97]:
obj_col[['make','make_code']].head(15)

           make  make_code
0   alfa-romero          0
1   alfa-romero          0
2   alfa-romero          0
3          audi          1
4          audi          1
5          audi          1
6          audi          1
7          audi          1
8          audi          1
9          audi          1
10          bmw          2
11          bmw          2
12          bmw          2
13          bmw          2
14          bmw          2

In [98]:
obj_col['make'].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [99]:
obj_col['make_code'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21])

In [100]:
obj_col[:3]

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system,make_code
0,alfa-romero,gas,std,2,convertible,rwd,front,dohc,4,mpfi,0
1,alfa-romero,gas,std,2,convertible,rwd,front,dohc,4,mpfi,0
2,alfa-romero,gas,std,2,hatchback,rwd,front,ohcv,six,mpfi,0

### Customer binary encoding

In [122]:
obj_col[:3]

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
0,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
1,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
2,alfa-romero,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi

In [125]:
obj_col['engine_type'].value_counts()

1    189
0     16
Name: engine_type, dtype: int64

In [126]:
obj_col['engine_type'].nunique()

2

In [124]:
np.where(obj_col['engine_type'].str.contains('ohc'), 1, 0)

AttributeError: Can only use .str accessor with string values!

In [123]:
obj_col['engine_type'] = np.where(obj_col['engine_type'].str.contains('ohc'), 1, 0)

C:\Users\kalya\AppData\Local\Temp/ipykernel_37384/1545315344.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  obj_col['engine_type'] = np.where(obj_col['engine_type'].str.contains('ohc'), 1, 0)

In [132]:
obj_col[['make','num_doors','engine_type']][:10]

          make num_doors  engine_type
0  alfa-romero       two            1
1  alfa-romero       two            1
2  alfa-romero       two            1
3         audi      four            1
4         audi      four            1
5         audi       two            1
6         audi      four            1
7         audi      four            1
8         audi      four            1
9         audi       two            1